###> symfony/framework-bundle ###
/.idea
/.env.local
/.env
/.env.local.php
/.env.*.local
/symfony.lock
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
