<h1>Hello ! Merci à toi de valider ton e-mail !</h1>

<p>
    Tu sera gentil de cliquer sur ce magnifique lien ci dessous :<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Passe un bon moment sur Sowrs !
</p>
