{% extends 'base.html.twig' %}

{% block title %}Sowrs | Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/legaleNotice.css') }}" />
{% endblock %}

{% block body %}

    <h2 class="legale_title">MENTIONS LÉGALES ET CONDITIONS GÉNÉRALES D’UTILISATION</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            Mentions légales et conditions générales d&rsquo;utilisation
        </div>
        <div class="panel-body">
            <p>Mentions légales &#8211; Sowrs.com<br />
                Version en date du 14 Octobre 2020</p>
            <p>Le présent site, sowrs.com, ainsi que les textes, images et vidéos et autres contenus hébergés (à l’exception des contenus Utilisateurs pour lesquels nous avons une licence d’utilisation non-exclusive et gratuite), sont la propriété de SENS, SAS dont le siège social est établi à CAEN. Toute copie et réutilisation sont interdites.</p>
            <p><strong>Détails sur l’entreprise :</strong><br />
                SENS, société par action simplifiée en activité depuis le 18 novembre 2019 exerçant dans le conseil pour les affaires et autre conseils en gestion (7022Z).<br />
                9 rue Raymonde Bail 14000 CAEN<br />
                team@sowrs.com<br />
                01 88 32 16 32<br />
                N° de SIRET : 87929205000017<br />
                Site WordPress hébergé par OVH<br />
                Développé par SENS SAS et SeoSamba</p>
            <p>Conditions d’utilisation du Site Sowrs.com<br />
                Version en date du 14 Octobre 2020</p>
            <p>Nous vous invitons à lire avec attention les présentes conditions générales d’utilisation.</p>
            <p>Le Site sowrs.com est la nouvelle plateforme du Site itmakesense.io, édité par la société SENS. Il permet à des entreprises et autres organisations tierces de diffuser des offres d’emploi auxquelles des utilisateurs inscrits en tant que candidats peuvent directement postuler (ci-après, le « Site sowrs.com » ou la « Société SENS »). La Société SENS met donc en relation des entreprises à mission et des candidats.</p>
            <p>Pour toute question concernant le présent document et nos services, veuillez nous contacter à l’adresse mail suivante : team@sowrs.com</p>
            <h2>
                Table des Matières</h2>
            <ol>
                <li>Objet</li>
                <li>Services proposés via le Site sowrs.com</li>
                <li>Acceptation et mises à jour des CGU
                    <ol>
                        <li>Création, visibilité et édition du profil candidat</li>
                        <li>Création, visibilité et édition du profil entreprise</li>
                        <li>Utilisation de l’outil de matching</li>
                        <li>Échanges entre Candidats et Recruteurs</li>
                        <li>Postuler à une offre</li>
                        <li>Réception des candidatures</li>
                        <li>Conditions financières &#8211; participation libre consciente</li>
                    </ol>
                </li>
                <li>Obligations des Utilisateurs</li>
                <li>Propriété intellectuelle et intégrité du Site
                    <ol>
                        <li>Contenus édités par la Société SENS</li>
                        <li>Contenus fournis par les Utilisateurs</li>
                    </ol>
                </li>
                <li>Garantie et accessibilité au Site</li>
                <li>Responsabilités
                    <ol>
                        <li>Services proposés par la Société SENS</li>
                        <li>Contenus importés via la Plateforme</li>
                        <li>Réseau internet et perte de données</li>
                    </ol>
                </li>
                <li>Traitement des données personnelles</li>
                <li>Stipulations diverses</li>
                <li>Droit applicable et compétence juridictionnelle</li>
                <li>Intégralité du Contrat</li>
            </ol>
            <h2>ARTICLE 1. OBJET</h2>
            <p>Les présentes conditions générales d’utilisation définissent les conditions selon lesquelles les utilisateurs peuvent accéder et utiliser le Site sowrs.com.</p>
            <p>Le présent document est un contrat conclu entre l’utilisateur du Site sowrs.com, quel que soit son profil (membre inscrit en tant que candidat [le “Candidat”], membre inscrit en tant que recruteur [le “Recruteur”] &#8211; l’ensemble des membres candidats et recruteurs est sous-nommé “Utilisateur” &#8211; ou visiteur non-inscrits [le “Visiteur”]) et la Société SENS.</p>
            <p>Le Contrat est conclu pour une durée indéterminée à compter de l’acceptation par l’Utilisateur des Conditions d’Utilisation.</p>
            <h2>ARTICLE 2. SERVICES PROPOSÉS VIA LE SITE SOWRS.COM</h2>
            <p>La Société SENS met à disposition des Utilisateurs, via le Site sowrs.com :</p>
            <ul>
                <li>Pour les Candidats : un espace membre leur permettant de créer un profil candidat, d’importer un CV, de postuler aux offres d’emploi des Recruteurs, de sauvegarder leurs offres d’emploi favorites et d’échanger avec des Recruteurs.</li>
                <li>Pour les Recruteurs : un espace membre leur permettant de créer un profil entreprise, de créer et diffuser des offres d’emploi, de gérer les candidatures reçues et d’échanger avec des Candidats ; un accès à la CVthèque du Site sowrs.com composée des Candidats ayant créé leur profil.</li>
                <li>Un outil de matching basé sur les objectifs de développement durable permettant aux Utilisateurs de déterminer leur profil socio-environnemental et de calculer leur taux de sens ainsi que d’identifier et d’échanger avec les Utilisateurs ayant le plus d’affinités avec eux.</li>
            </ul>
            <p>La Société SENS met à disposition des Utilisateurs et des Visiteurs, via le Site sowrs.com :</p>
            <ul>
                <li>Des offres d’emploi publiées par des entreprises et autres organisations tierces à mission</li>
                <li>Des articles sur les thèmes de l’emploi, du recrutement, du développement durable.</li>
            </ul>
            <h3>Article 2.1. Création, visibilité et édition du profil candidat</h3>
            <p>Les Candidats créent leur profil candidat dès lors qu’ils créent un compte candidat. Les profils candidat sont rassemblés dans la CVthèque du Site sowrs.com. Les informations suivantes peuvent leur être demandées : Nom, Prénom, Niveau d’études et domaine de formation, Niveau d&rsquo;expérience, Activitées engagées, Autorisation de travail, Niveau de rémunération souhaité, Type de contrat souhaité, Localisation de poste souhaitée, Site web et Profils professionnels sur les réseaux sociaux, CV (fichier PDF importé par le Candidat). En renseignant toute information sus-citée, le Candidat accepte que celle-ci soit affichée sur son profil candidat.</p>
            <p>Le profil candidat est visible par tous les Recruteurs inscrits sur le Site sowrs.com. L’accès à la CVthèque du Site sowrs.com n’est pas donné aux autres Candidats et les Visiteurs.</p>
            <p>Les Candidats peuvent à tout moment éditer les informations de leur profil candidat. Ils peuvent également limiter sa visibilité tout en conservant leur compte à tout moment, pour quelque motif que ce soit, grâce à la fonctionnalité “Mettre la cape d’invisibilité”. Le profil candidat n’est alors plus référencé dans la CVthèque du Site sowrs.com. S’il le souhaite, le Candidat peut révoquer cette action grâce à la fonctionnalité “Réapparaître” ; son profil candidat sera alors à nouveau visible.</p>
            <p>Les informations de contact demandées lors de la création de compte candidat (adresse e-mail, numéro de téléphone) ne sont pas affichées sur le profil candidat &#8211; excepté sur le CV en PDF importé par le Candidat dans le cas où il choisit de les faire apparaître sur son CV. Seuls les administrateurs du Site sowrs.com y ont accès dans les seuls buts de confirmer l’identité des Candidats et de communiquer avec les Candidats.<br />
                Lorsque qu’un Candidat supprime son compte candidat, son profil candidat est supprimé et ses informations ne sont pas conservées par le Site sowrs.com.</p>
            <h3>Article 2.2. Création, visibilité et édition du profil entreprise</h3>
            <p>Les Recruteurs créent leur profil entreprise dès lors qu’ils créent un compte recruteur. Les profils entreprise sont associés aux annonces d’emploi créées par les Recruteurs sur le Site sowrs.com. Les informations suivantes peuvent leur être demandées : Nom de l’entité, Statut juridique de l’entité, Causes socio-environnementales défendues par l’entité, Reconnaissances et Labels de l’entité, Site web et Profils sur les réseaux sociaux de l’entité. En renseignant toute information précédemment citée, le Recruteur accepte que celle-ci soit affichée sur son profil entreprise.</p>
            <p>Les offres d’emploi, ainsi que le contenu du champ “À propos” sont visibles par tous les Utilisateurs et Visiteurs du Site sowrs.com. En revanche, l’intégralité du profil entreprise est seulement visible par les Utilisateurs.</p>
            <p>Les Recruteurs peuvent à tout moment éditer les informations de leur profil entreprise. Ils peuvent également limiter sa visibilité tout en conservant leur compte à tout moment, pour quelque motif que ce soit, grâce à la fonctionnalité “Mettre le compte hors ligne”. Le profil entreprise, ainsi que les offres d’emploi ne alors plus référencés la liste des offres d’emploi du Site sowrs.com. S’il le souhaite, le Recruteur peut révoquer cette action grâce à la fonctionnalité “Mettre le compte en ligne” ; son profil entreprise et ses offres d’emploi seront alors à nouveau visibles.</p>
            <p>Les informations de contact demandées lors de la création de compte candidat (Nom et Prénom du Recruteur, numéro de SIRET, Adresse e-mail, Numéro de téléphone) ne sont pas affichées sur le profil entreprise. Seuls les administrateurs du Site sowrs.com y ont accès dans les seuls buts de vérifier que l’entité correspond bien aux valeurs du Site sowrs.com et de communiquer avec les Recruteurs.</p>
            <h3>Article 2.3. Utilisation de l’outil de matching</h3>
            <p>Les Utilisateurs peuvent créer leur profil socio-environnemental à partir de leur espace membre. Ils peuvent choisir cinq des 17 Objectifs de Développement Durable de l’ONU, parmi lesquels : éradication de la pauvreté ; lutte contre la faim ; accès à la santé ; accès à une éducation de qualité ; égalité entre les sexes ; accès à l’eau salubre et à l’assainissement ; recours aux énergies renouvelables ; accès à des emplois décents ; innovation et infrastructures ; réduction des inégalités ; villes et communauté durables ; consommation responsable ; lutte contre le réchauffement climatique ; protection de la faune et de la flore aquatique ; protection de la faune et de la flore terrestre ; justice et paix ; partenariats et objectifs mondiaux. Leurs choix permettent d’obtenir un résultat avec une orientation principale &#8211; sociale, économique, environnementale ou sociétale &#8211; et trois orientations secondaires &#8211; ibid &#8211; sous forme de pourcentage.</p>
            <p>À partir de la page de résultats, une sélection des profils entreprise avec lesquels ils partagent le plus d’affinités est présentée aux Candidats. Ainsi, les Candidats ont accès au pourcentage d’affinité, au logo, à la raison sociale, à la localisation, au secteur d’activité, au profil entreprise et à toute information renseignée par le Recruteur sur ce profil des entreprises qui leur seront présentées. De la même manière, une sélection des profils Candidats avec lesquels ils partagent le plus d’affinités est présentée aux Recruteurs ; et les Recruteurs ont accès au pourcentage d’affinité, à la photo de profil, au nom, prénom, poste, à la localisation, au profil Candidat et à toute information renseignée ou fichier importé par le Candidat sur son profil des Candidats qui leur seront présentés.</p>
            <p>Pour les Candidats, la photo, le nom, le prénom, le poste et la localisation affichés sont ceux qu’ils ont indiqué sur leur profil Candidat et sont mis à jour automatiquement si les Candidats effectuent une modification sur ledit profil. Pour les Recruteurs, la photo, la raison sociale, la localisation et le secteur d’activité affichés sont ceux qu’ils ont indiqué sur leur profil entreprise et sont mis à jour automatiquement si les Recruteurs effectuent une modification sur ledit profil. Aucune donnée supplémentaire n’est demandée aux Utilisateurs pour utiliser l’outil de matching. Le pourcentage d’affinité est calculé grâce à un algorithme qui compare les objectifs de Développement Durable choisis par chaque Utilisateur.</p>
            <p>Le profil socio-environnemental des Utilisateurs et le pourcentage d’affinité est aussi affiché sur les profil candidat pour les Candidats et sur le profil entreprise pour les Recruteurs. Ainsi, les Candidats pourront consulter le profil socio-environnemental des Recruteurs et leur pourcentage d’affinité ; et les Recruteurs pourront consulter le profil socio-environnemental des Candidats et leur pourcentage d’affinité.<br />
                Le taux de sens calculé et le profil socio-environnemental établi sont immuables et les Utilisateurs ne peuvent calculer leur taux de sens qu’une seule et unique fois. Le profil socio-environnemental est rattaché au profil de l’Utilisateur jusqu’à la suppression de son compte candidat ou recruteur. Un Utilisateur ayant calculé son taux de sens ne peut pas retirer son profil socio-environnemental de son profil candidat ou recruteur ; la suppression du profil socio-environnemental implique la suppression du compte candidat ou recruteur.</p>
            <p>Les Utilisateurs sont libres de partager leur résultat personnel sur quelque support que ce soit. En revanche, ils ne sont pas autorisés à partager les résultats d’autres Utilisateurs sans le consentement expresse et préalable desdits Participants si leurs données personnelles (nom, prénom, adresse e-mail, etc.) sont visibles.</p>
            <h3>Article 2.4. Échanges entre Candidats et Recruteurs</h3>
            <p>Les Recruteurs peuvent contacter les Candidats à partir de leur profil candidat. De la même manière, les Candidats peuvent contacter les Recruteurs à partir de leur profil entreprise. À ce moment, ni l’adresse e-mail, ni le numéro de téléphone du Candidat ou du Recruteur ne sont divulgués au Recruteur ou au Candidat ; les échanges se font dans l’onglet “Ma Messagerie” mis à disposition par le Site sowrs.com.</p>
            <h3>Article 2.5. Postuler à une offre</h3>
            <p>Le Site sowrs.com diffuse des offres d’emploi éditées par des sociétés tierces et permet aux Candidats intéressés de postuler directement en ligne en remplissant le formulaire se trouvant sur l’annonce. Il est indispensable de détenir un compte candidat pour postuler. Les Candidats peuvent cibler les offres d’emploi par cause, catégorie d’emploi, type de contrat, rémunération, niveau d’expérience, lieu géographique et mots clés. La candidature et le CV du candidat sont directement envoyés au Recruteur ayant déposé son offre. La Société SENS n’étant pas partie au processus de recrutement, le Recruteur est seul habilité à vous contacter.</p>
            <p>Le Candidat peut voir un historique de ses candidatures envoyées dans son espace candidat</p>
            <h3>Article 2.6. Réception des candidatures</h3>
            <p>Les Recruteurs déposent leurs offres d’emploi via leur espace recruteur. Les candidatures sont envoyées à l’adresse e-mail associée au compte recruteur. Il n’est pas possible d’ajouter une adresse e-mail supplémentaire dans le corps de l’annonce. Les Recruteurs peuvent changer l’adresse e-mail de réception des candidatures à partir de leur espace recruteur. Cette adresse e-mail sera alors la nouvelle adresse e-mail du compte recruteur. Les Recruteurs peuvent voir l’historique des candidatures reçues à partir de leur espace recruteur.</p>
            <h3>Article 2.7. Conditions financières &#8211; participation libre consciente</h3>
            <p>L’ensemble des services de la Société SENS sont soumis à la participation libre consciente. Tous les Utilisateurs et Visiteurs du Site sowrs.com peuvent faire un don du montant de leur choix (à partir de 1€) via la plateforme Tipeee. Pour toute transaction, les CGU qui s’appliquent sont les CGU de Tipeee.</p>
            <h2>ARTICLE 3. ACCEPTATION ET MISES À JOUR DES CGU</h2>
            <p>L’accès au Site est conditionné au respect par l’Utilisateur des Conditions d’utilisation. En conséquence, par sa seule navigation sur le Site, l’Utilisateur est réputé avoir accepté, les CGU.</p>
            <p>L’Utilisateur reconnaît avoir pris connaissance et consent sans restriction ni réserve aux termes de ce contrat dès lors qu’il coche la case “J’accepte les termes et conditions” avant de créer son compte candidat ou recruteur. Si l’Utilisateur est en désaccord avec l’un de ces termes, il est libre de ne pas ou plus utiliser nos services.</p>
            <p>Nous nous réservons le droit de modifier à tout moment les Conditions d’utilisation. Dans ce cas, nous publierons les nouvelles versions des CGU sur les pages de notre Site sowrs.com et nous vous alerterons au moyen d’un mail expédié par team@sowrs.com.</p>
            <h2>
                ARTICLE 4. OBLIGATIONS DES UTILISATEURS</h2>
            <p>Dans le cadre de l’utilisation du Site sowrs.com l’Utilisateur s’engage à :</p>
            <ul>
                <li>Se conformer aux stipulations décrites dans les CGU et aux lois en vigueur, et à respecter les droits des tiers ;</li>
                <li>Ne communiquer que des informations, fichiers et autres contenus conformes à la réalité, honnêtes et loyaux ;</li>
                <li>Ne pas publier des CV publicitaires ou ayant pour but la promotion de produits ou services ;</li>
                <li>Ne pas divulguer via le Site sowrs.com des informations personnelles (textes, photos et vidéos) de tiers sans leur consentement ;</li>
                <li>Traiter les données importées ou publiées sur le Site sowrs.com en conformité avec la règlementation RGPD (directives détaillées dans l’Article 8) ;</li>
                <li>Ne pas importer et diffuser sur leur profil Candidat, leur profil Entreprise, leurs annonces, leurs commentaires ou leurs échanges dans l’espace “Ma messagerie” des propos ou des contenus illicites, et notamment tous contenus contrefaisants, diffamatoires, injurieux, insultants obscènes, offensants, discriminatoires, violents, xénophobes ou incitant à la haine raciale ; ou tout autre contenu contraire aux bonnes mœurs et aux règles de bienséance ;</li>
                <li>Ne pas intégrer et diffuser via le Site sowrs.com du contenu qui serait contraire à la finalité de notre Service ;</li>
                <li>Ne pas communiquer ou envoyer, par l’intermédiaire du Site sowrs.com, du contenu, quel qu’il soit, qui comprendrait des liens pointant vers des sites web illicites ou offensants ou incompatibles avec la finalité du Site sowrs.com ;</li>
                <li>Utiliser le Site sowrs.com pour envoyer massivement des messages non sollicités (publicitaires ou autres).</li>
            </ul>
            <p>En outre, les Utilisateurs garantissent expressément la véracité et la réalité des informations contenues dans leur candidature (profil, formation, expérience professionnelle, etc.) ou dans leur compte entreprise (raison sociale, numéro de SIRET, profil, offres d’emploi, etc.).</p>
            <p>Les Recruteurs certifient que l’activité de leur entreprise répond s’inscrit dans la réalisation d’au moins un des 17 objectifs de développement durable de l’ONU. Ces objectifs sont sociaux, économiques, environnementaux ou sociétaux et correspondent au champ “cause” du profil entreprise : Qualité de Vie au Travail ; Accès à la Santé ; Lutte contre la pauvreté ; Secours / Assistance ; Services à personnes ; Conseil RSE ; Production et consommation responsable ; Énergie renouvelable ; Commerce équitable ; Agriculture durable ; Économie circulaire ; Finance solidaire ; Services financiers éthiques ; Défense du climat ; Sauvegarde de la biodiversité ; Qualité &amp; Préservation des ressources ; Vie végétale / Vie animale ; Recyclage ; Services écologiques  ; Low-tech ; Paix / Démocratie ; Éducation / Insertion ; Égalité / Inclusion ; Droit / Citoyenneté ; Accessibilité / Mobilité ; Médias Responsables ; Conseil Développement Durable ; Autre social ; Autre économique ; Autre environnemental ; Autre sociétal.</p>
            <p>En cas de manquement à une ou plusieurs de ces obligations, nous nous réservons le droit d’exclure du Site sowrs.com les Utilisateurs fautifs.</p>
            <h2>ARTICLE 5. PROPRIÉTÉ INTELLECTUELLE ET INTÉGRITÉ DU SITE</h2>
            <h3>Article 5.1 Contenus édités par la Société SENS</h3>
            <p>Le contenu du Site sowrs.com, notamment sa structure, son design, ses interfaces, les bases de données, les textes, les contenus numériques, les marques, les images, les vidéos, tous éléments graphiques qui le composent, ainsi que les balises HTML de référencement (méta-tags) et l’outil de matching sont la propriété exclusive de la Société SENS ; à l’exclusion des 17 Objectifs de Développement Durable qui ont été établis par les États Membres de l’Organisation des Nations Unies en septembre 2015 ; et du contenu appartenant aux tiers. Ce contenu est protégé par les dispositions du Code de la propriété intellectuelle et, par tout texte national ou international en vigueur applicable au droit de la propriété intellectuelle.<br />
                Toute reproduction, diffusion ou utilisation de tout ou partie du contenu du Site sowrs.com sous quelque forme que ce soit, sans l’autorisation expresse et préalable de la Société SENS, est interdite et serait constitutive d’une contrefaçon, sanctionnée notamment par les articles L. 335-2 et suivants du Code de la propriété intellectuelle.</p>
            <p>De même, vous vous interdisez de :</p>
            <ul>
                <li>Procéder à des extractions par transfert temporaire ou permanent, ou d’utiliser par la mise à disposition au public, la totalité ou une partie substantielle en termes quantitatifs ou qualitatifs de notre Site et autres bases de données visibles sur notre Site, à des fins commerciales ou autres ;</li>
                <li>Extraire ou d’utiliser de façon répétée et systématique tout ou partie des informations visibles sur notre Site, lorsqu’une telle opération excède manifestement une utilisation normale et à titre privé du Site sowrs.com ;</li>
                <li>Exploiter, commercialiser ou distribuer tout élément constitutif du Site sowrs.com, notamment les informations visibles sur le Site sowrs.com et toute autre base de données ;</li>
                <li>Utiliser des logiciels ou procédés manuels pour copier nos pages web ou pour enregistrer ou collecter les informations sur ces pages sans le consentement exprès préalable et écrit de la Société SENS ;</li>
                <li>Utiliser des dispositifs ou logiciels aux fins de perturber ou tenter de perturber le bon fonctionnement du Site sowrs.com ; ou mettre en œuvre des actions qui imposeraient une charge disproportionnée sur nos infrastructures.</li>
            </ul>
            <h3>Article 5.2 Contenus fournis par les Utilisateurs</h3>
            <p>Les Utilisateurs importent et diffusent des contenus via le Site sowrs.com (CV, informations biographiques ou sur l’entreprise, annonces d’offres d’emploi, images, etc.). À ce titre, les Utilisateurs sont et restent titulaires des droits sur lesdits contenus. Toutefois, les Utilisateurs accordent à la Société SENS une licence d’utilisation non-exclusive et gratuite des contenus. Cette licence couvre les droits d’utiliser lesdits contenus et reste en vigueur pendant toute la durée d’affichage sur le Site sowrs.com. À cette fin, l’Utilisateur déclare être dûment autorisé à accorder des licences d’utilisation des Contenus Utilisateurs transmis dans les limites définies dans les CGU.</p>
            <h2>ARTICLE 6. GARANTIE ET ACCESSIBILITÉ AU SERVICE</h2>
            <p>Nous mettons en œuvre tous les moyens disponibles afin d’offrir aux Utilisateurs duSite sowrs.com un service de qualité. Toutefois, nous ne garantissons pas que le fonctionnement du Site sowrs.com sera ininterrompu, exempt de toute erreur ou sûr. De manière générale, nous ne garantissons ni l’exhaustivité ni l’exactitude du contenu et des informations proposés via le Site sowrs.com. Nous ne garantissons pas que le Site sowrs.com sera conforme aux besoins des Utilisateurs. Il appartient aux Utilisateurs de s’assurer qu’ils ont effectivement accès aux moyens techniques appropriés pour l’utilisation de nos services.</p>
            <p>Nous nous réservons le droit de suspendre l’accès au Site sowrs.com de manière ponctuelle afin de réaliser des opérations de maintenance ou de mises à jour du Site sowrs.com et nous nous efforçons d’en limiter la durée.</p>
            <h2>ARTICLE 7. RESPONSABILITÉS</h2>
            <h3>Article 7.1 Services proposés par la Société SENS</h3>
            <p>Notre responsabilité ne pourra être recherchée au titre de l’utilisation que vous ferez du Site sowrs.com. Notre responsabilité ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation du Site sowrs.com. Nous ne pourrons être tenus responsables d’aucun dommage résultant de l’utilisation du Service. L’utilisation du Site sowrs.com est faite sous votre entière responsabilité.<br />
                La Société SENS ne pourra en aucun cas être tenue responsable de toute conséquence qui pourrait survenir au cours, ou à l’issue, de rencontres ou prises de contact entre des Candidats et des Recruteurs, à la suite à l’utilisation du Site sowrs.com.</p>
            <p>La Société SENS a pour seul but de permettre aux Candidats de publier leur CV et des contenus associés leur permettant d’être visibles auprès des Recruteurs et de rechercher un emploi ; aux Recruteurs de créer un profil entreprise et de diffuser leurs offres d’emploi ; et de permettre aux Utilisateurs d’identifier les autres Utilisateurs ayant des affinités socio-environnementales similaires aux leurs.</p>
            <p>Enfin, il convient de préciser que nous n’intervenons pas dans le processus de sélection des candidats. Dès lors, la Société SENS ne pourra en aucun cas être assimilée à un employeur, un organisme professionnel, Cabinet de recrutement ou chasseur de têtes ou à un mandataire de ce dernier.</p>
            <h3>Article 7.2 Contenus importés via la Plateforme</h3>
            <p>D’une part, afin de nous assurer que les offres d’emploi publiées via le Site sowrs.com répondent bien aux critères définis par la finalité du Site (entreprise à mission, emploi dans les domaines du numérique et de l’informatique), nous nous réservons le droit de vérifier la pertinence des annonces et de retirer toute annonce qui ne respectent pas lesdits critères.</p>
            <p>La Société SENS n’a pas d’obligation générale de surveillance des données et des Contenus Utilisateurs ni d’obligation de suppression d’un contenu qui ne paraîtrait pas manifestement illicite, nonobstant son signalement. Cependant, dans le cadre de notre politique anti-fraude et anti-spam, nous effectuons un contrôle hebdomadaire de notre base de données et nous réservons le droit d’exclure les membres dont l’adresse e-mail est signalée dans les répertoires de phishing.</p>
            <p>D’autre part, nous n’exerçons aucun contrôle sur les contenus importés ou renseignés via le Site sowrs.com par les Candidat (leur exactitude, leur pertinence ou leur actualité) ; ni sur les messages envoyés par les Utilisateurs via la messagerie instantanée du site Sowrs.com ; ni sur la capacité ou la qualité des Recruteurs ou Candidats.</p>
            <p>Nous ne pouvons être tenus responsables des Contenus Utilisateurs importés. L’Utilisateur étant seul responsable desdits Contenus, la Société SENS n’ayant qu’un rôle d’hébergeur technique desdits Contenus.</p>
            <h3>Article 7.3. Réseau internet et perte de données</h3>
            <p>Vous reconnaissez et acceptez que le réseau Internet, et plus généralement tout réseau télématique utilisé à des fins de transmission de données peut comporter des risques liés à l’absence de protection de certaines données contre des détournements éventuels et des risques de contamination par des virus. Aussi, nous ne pourrons être tenus responsable d’aucune perte ou altération de données, d’aucune perte de profit, de chiffre d’affaires, d’opportunité, de temps ou d’aucun dommage indirect, que ladite perte ou ledit dommage soit dû à une négligence, ou à toute autre cause, en lien avec l’exécution ou la non-exécution des Conditions d’utilisation.</p>
            <h2>ARTICLE 8. TRAITEMENT DES DONNÉES PERSONNELLES</h2>
            <p>Toutes les mesures en matière de sécurité, licité, finalité, durée de conservation et destinataires de ces données font l’objet d’une attention particulière. La base de données des Utilisateurs est stockée en France, sur le serveur de la Société SENS via notre fournisseur OVH, accessible uniquement par l’équipe d’administrateurs du Site sowrs.com, protégée par une connexion sécurisée et cryptée et par un mot de passe.</p>
            <p>Les données Utilisateurs sont mises à jour par l’Utilisateur lui-même. La Société SENS peut créer ou mettre à jour les données Recruteur à la demande expresse de celui-ci.<br />
                Les données importées par les Utilisateurs sur le Site itmakesense.io, qui, pour rappel, est l’ancienne plateforme du Site sowrs.com, sont automatiquement transférées vers le Site sowrs.com.<br />
                Les données Utilisateurs (coordonnées, CV, photos, profil-socio environnemental et autres contenus importés par les Utilisateurs sur le Site sowrs.com, échanges entre Utilisateurs via la messagerie instantanée du Site sowrs.com) sont conservées sur le Site sowrs.com pendant une durée indéterminée, jusqu’à ce que l’Utilisateur supprime son compte ou en face la demande expresse (par message électronique à : team@sowrs.com), comme prévu par l’Article 12 et l’Article 17 du Règlement Européen sur la Protection des Données Personnelles (RGPD) entré en vigueur le 25 mai 2018. La suppression du compte entraîne la suppression de l’ensemble des données Utilisateur &#8211; dès lors, elles ne sont plus stockées sur le serveur de la Société SENS, ni accessibles par quiconque.</p>
            <p>En aucun cas la Société SENS ne pourra être tenue responsable de l’utilisation faite par les Recruteurs des données personnelles importées ou publiées par les Candidats.</p>
            <h2>ARTICLE 9. STIPULATIONS DIVERSES</h2>
            <p>Dans l’hypothèse où une ou plusieurs stipulations figurant dans les Conditions d’utilisation étaient considérées comme illégales, inopposables ou inapplicables par une décision de justice, les autres stipulations des Conditions d’utilisation resteront en vigueur, à la condition que l’économie générale du contrat n’en soit pas bouleversée.</p>
            <p>Le fait pour une Partie de ne pas exiger le strict respect d’une quelconque obligation des présentes Conditions d’utilisation, en quelque occasion que ce soit, ne sera pas considéré comme un renoncement à l’un des droits sus-cités et ne privera pas cette Partie du droit d’exiger le strict respect de cette obligation ou de toute autre obligation des Conditions d’utilisation à tout moment.</p>
            <p>Lors de la résiliation ou de l’expiration des présentes, les articles suivants resteront en vigueur : Propriété intellectuelle ; Garanties ; Responsabilités, Stipulations diverses ; Droit applicable et compétence juridictionnelle.</p>
            <h2>ARTICLE 10. LOI APPLICABLE ET COMPETENCE JURIDICTIONNELLE</h2>
            <p>Les présentes Conditions d’utilisation sont régies par le droit français.</p>
            <p>En cas de litige, les Parties décident, dans un premier temps, de tenter de le solutionner à l’amiable. En cas d’échec, tous les litiges susceptibles de naître entre les parties, relatifs à la signature, l’interprétation, l’exécution et la résiliation des présentes, seront soumis à la juridiction exclusive des Tribunaux français auxquels les parties font expressément attribution de compétence, même en cas de pluralité de défendeurs, en référé, appel en garantie ou par requête.</p>
            <h2>ARTICLE 11. INTÉGRALITÉ DU CONTRAT</h2>
            <p>Les Conditions d’utilisation, y compris le préambule, la Politique de confidentialité et les Conditions de vente, constituent l’intégralité de l’accord conclu entre les Parties.</p>
        </div>
    </div>
{% endblock %}