<h1>Hello {{ app.user.lastname }} {{ app.user.firstname }}</h1>

<p>
    On vous confirme que le mot de passe a bien été modifié !<br />
    Si vous n'êtes pas à l'origine de ce changement, merci de contacter l'administrateur du site
    à l'adresse suivante : <a href="mailto:hello@sowrs.com">hello@sowrs.com</a>
</p>

<p>Et n'oubliez pas, un grand mot de passe implique de grandes responsabilités &#x1F577 &#129299</p>

<p>
    <strong>
        L'équipe SOWRS
    </strong>
    &#128521<br />
    <strong>
        #WorkForChange
    </strong>
</p>
