.abstractJobOffer {
    border-radius: 20px;
}
.abstract_my_offers{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card_candidate_left_part{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.card_candidate_right_part{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.card_candidate_left_part div{
    padding-left: 20px;
}
.abstractJobOfferButton {
    width: 2.5em;
    height: 2em;
    border-radius: 1em;
    background: #1DCA91;
    border: none;
}

.abstractJobOfferButton:hover {
    background-position: inherit;
    background: #555555;
    text-decoration:none;
}

.date_abstract_job_offer{
    text-align: left;
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}



.abstract_contract_type{
    padding: 5px;
    color: white;
    background-color: #1dca91;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50pt;

}

.abstractJobOfferButtonTrash {
    width: 2.5em;
    height: 2em;
    border-radius: 1em;
    background: #555555;
    border: none;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.abstractJobOfferButtonTrash:hover {
    background-position: inherit;
    background: #1dca91;
    text-decoration:none;
}

.container_abstract_button a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.abstractJobOfferButtonPause {
    width: 2.5em;
    height: 2em;
    border-radius: 1em;
    background: #555555;
    border: none;
}

.abstractJobOfferButtonPause:hover {
    background-position: inherit;
    background: #1DCA91;
    text-decoration:none;
}

.abstractJobOfferTextTitle {
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.abstractJobOfferText {
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.abstractJobOfferImgGlobe2 {
    height: 1.3em;
    width: auto;
}
.abstractJobOfferImgStopwatch {
    height: 1.3em;
    width: auto;
}
.abstractJobOfferImgEye {
    height: 1.3em;
    width: auto;
}
.abstractJobOfferImgPeople {
    height: 1.3em;
    width: auto;
}
.abstractJobOfferButtonImage {
    height: 1.5em;
    width: auto;
}
.abstractJobOfferPause {
    height: 1.5em;
    width: auto;
}
.abstractJobOfferImgPlay {
    height: 1.5em;
    width: auto;
}
.abstractJobOfferImgRepeat {
    height: 1.5em;
    width: auto;
}
.abstractJobOfferImgPencil {
    height: 1.5em;
    width: auto;
}
.abstractJobOfferImgTrash {
    height: 1.5em;
    width: auto;
}

.abstractTextRegion{
    text-align: left;
}

.abstract_contract_type_CDD{
    padding: 5px;
    color: white;
    background-color: #6ce1ba;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50pt;
}

.abstract_contract_type_FREELANCE{
    padding: 5px;
    color: white;
    background-color: #aff9f0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50pt;
}

.abstract_contract_type_ASSOCIE{
    padding: 5px;
    color: white;
    background-color: #56d9cb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50pt;
}

.abstract_contract_type_STAGE{

    padding: 5px;
    color: white;
    background-color: #80eee2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50pt;
}

.abstract_contract_type_INTERIM{
    padding: 5px;
    color: white;
    background-color: #a59bb5 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50pt;
}

.abstract_contract_type_SERVICE{
    /*width: fit-content;*/
    padding: 5px;
    color: white;
    background-color: #827399;
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 50pt;
    text-align: center;
}

.abstract_contract_type_AUTRE{
    padding: 5px;
    color: white;
    background-color: #14ae9e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50pt;
}
.margright {
    margin-right: 1rem;
}
.offer_views{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.job_text_title{
    color: #555555!important;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: 'KohinoorBangla', Arial, serif;
}
.card_job{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.first_section_card_job{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}
.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.info_card_job{
    padding: 10px 0 0 15px;
}
.second_section_card_job{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.link_offer_view>span:hover{
    color: #937FA4!important;
}

@media screen and (max-width: 310px){
    .my_offers_title{
        margin: 0!important;
        font-size: 1.2em!important;
    }
    .abstractJobOffer{
        margin: 0 0 10px 0!important;
    }
}
@media screen and (max-width: 407px){
    body .options_offer{
        display: flex!important;
        flex-direction: row!important;
        justify-content: space-around!important;
        align-items: center!important;
        flex-wrap: wrap!important;
    }
    body .options_offer span{
        padding: 10px;
    }
    .card_candidate_left_part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .abstract_my_offers{
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
}
@media screen and (max-width: 510px){
    .abstractJobOfferTextTitle{
        font-size: 1em;
    }
    .abstractJobOfferText{
        font-size: 0.9em;
    }
    .card_candidate_right_part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 530px){
    body .first_section_card_job{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    body .card_job{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 575px) and (min-width: 301px){
    .mini_btn_title_my_offers{
        /*position: relative;*/
        /*top: 25px;*/
    }
    .content-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .card_job{
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .second_section_card_job{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .positionBtn{
        position: relative;
        top: 20px;
    }

}
@media screen and (max-width: 991px){
    .abstractJobOffer {
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        /*align-items: center;*/
        width: auto;
    }
    .container_picture_applie{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .container_info_applie_list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center!important;
    }
    .container_btn_applie_list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1082px) and (min-width: 571px){
    .abstractJobOfferButton{
        width: 1.5em;
        height: 1em;
        margin: 0em;
    }
    .abstractJobOfferImgPencil{
        width: auto;
        height: 0.9em;
    }
    .abstractJobOfferImgRepeat{
        width: auto;
        height: 0.9em;
    }
    .abstractJobOfferButtonPause{
        width: 1.5em;
        height: 1em;
    }
    .abstractJobOfferPause{
        width: auto;
        height: 0.9em;
    }
    .abstractJobOfferImgPlay{
        width: auto;
        height: 0.9em;
    }
    .abstractJobOfferButtonTrash{
        width: 1.5em;
        height: 1em;
    }
    .abstractJobOfferImgTrash{
        width: auto;
        height: 0.9em;
    }
}
@media only screen and (orientation: landscape) and (min-width: 639px) and (max-width: 780px){
    .abstractJobOfferButtonTrash{
        /*position: relative;*/
        /*bottom: 31px;*/
        /*left: 200px;*/
    }
}
@media screen and (min-width: 1215px){
    .info_card_job{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
}