/**
global styles
 */

@font-face{
    font-family: 'KohinoorBangla';
    src: url('polices/kit_font/KohinoorBangla-webfont.woff') format("woff"),
    url('polices/kit_font/KohinoorBangla-webfont.woff2') format("woff2"),
    url('polices/KohinoorBangla.ttc') format("truetype"),
    url('polices/KohinoorBangla.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
body .alert{
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bold;
}
.navbar-nav {
    white-space : nowrap;
}
hr {
    display: block;
    clear: both;
    margin: 0px;
    padding: 0;
}
.textBlanc {
    color: white;
}
.page {
    /* anciennement
    background: #F4F6F7;
    */
    background-color: #F7FAF7;
}
.btn {
    width: 225px;
    border-radius: 50px;
    background: #1DCA91;
    border: none;
    font: normal 15px 'KohinoorBangla';
    padding: 10px;
    font-size: larger;
    color: white;
    margin: auto;
}
.btn:hover {
    background-color: #555555;
    text-decoration:none;
    background-position: inherit;
}
.navbar {
    padding-top: 0;
}
.admin_options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #B0413E44;
}
.admin_options *{
    margin: 30px;
}
.admin_options_title{
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.4em;
    color: #B0413E;
}
.btn_postuler{
    width: 225px;
    border-radius: 50px;
    background: #1DCA91;
    border: none;
    text-decoration: none;
    padding: 10px;
    font-size: larger;
    color: white;
    margin: auto;
}
input[type="text"]{
    color: #937FA4;
}
input[type="email"], input[type="tel"]{
    color: #937FA4;
}
.alert {
    text-align: center; !important;
}
.alert-error{
    color: white;
    background-color: #B0413E;
    font-weight: bold;
    font-family: 'KohinoorBangla', Arial, serif;
}
.alert-success{
    font-weight: bold;
    font-family: 'KohinoorBangla', Arial, serif;
}
.check_telecommuting{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.check_telecommuting label{
    color: #555555;
}
.check_telecommuting input:checked{
    background-color: #1dca91;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #937FA499;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button {
    background-color: #937FA4;
}
::-webkit-scrollbar-corner {
    background-color: black;
}
#myChart{
    width: 100% !important;
}
.options_offer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.options_offer span a{
    padding: 10px;
}
.page-link{
    color: #827399;
    border: 1px solid #937FA477;
}
.page-item.active .page-link{
    background-color: #827399;
    border: 1px solid #937FA4;
}
body .doughnut{
    width: 100% !important;
}
body .select2-container--default{
    height: 30px!important;
}
.container_info_offer *{
    font-family: 'KohinoorBangla', Arial, serif;
}
.link_back_office{
    color: #B0413E!important;
}
.container_info_offer p, .container_info_offer li{
    color: #555555;
}
.create_offer_modal{
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}
.modal_content{
    margin: 15% auto;
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    width: 40%;
}
.modal_content p{
    text-align: left;
}
.container_options_modal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fa-window-close{
    color: #555555;
    cursor: pointer;
}
.container_close_modal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.btn_tipeee_modal{
    background-color: white!important;
    border: 1px solid #555555!important;
    color: #555555!important;
}
.btn_tipeee_modal:hover{
    background-color: #555555!important;
    color: white!important;
}
.general_modal{
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.just_simple_info_modal{
    padding: 15px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #555555;
}
.loader_box{
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: #ffffff33;
    border-radius: 30px;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.picture_loaded_modal{
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #00000033;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#show_joboffer_photo_profile, #photo_profile, .matching_profil_picture{
    object-fit: cover;
    object-position: center;
}


@media screen and (max-width: 344px){
    .principal_nav_mini div a{
        font-size: 1em!important;
    }
    .modal_content{
        width: 90% !important;
    }
}
@media screen and (max-width: 900px){
    .modal_content{
        width: 80% !important;
    }
}
@media screen and (max-device-width: 500px){
    .pagination{
        overflow: auto;
    }
    .pagination::-webkit-scrollbar {
        width: 3px!important;
        height: 5px!important;
    }
}