/**
global styles
 */

@font-face{
    font-family: 'KohinoorBangla';
    src: url('polices/KohinoorBangla.ttc') format("truetype"),
    url('polices/kit_font/KohinoorBangla-webfont.woff') format("woff"),
    url('polices/kit_font/KohinoorBangla-webfont.woff2') format("woff2"),
    url('polices/KohinoorBangla.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
body .alert{
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bold;
}
.navbar-nav {
    white-space : nowrap;
}
hr {
    display: block;
    clear: both;
    margin: 0px;
    padding: 0;
}
.textBlanc {
    color: white;
}
.page {
    /* anciennement
    background: #F4F6F7;
    */
    background-color: #F7FAF7;
}
.btn {
    width: 225px;
    border-radius: 50px;
    background: #1DCA91;
    border: none;
    font: normal 15px 'KohinoorBangla';
    padding: 10px;
    font-size: larger;
    color: white;
    margin: auto;
}
.btn:hover {
    background-color: #555555;
    text-decoration:none;
    background-position: inherit;
}
.navbar {
    padding-top: 0;
}
.admin_options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #B0413E44;
}
.admin_options *{
    margin: 30px;
}
.admin_options_title{
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.4em;
    color: #B0413E;
}
.btn_postuler{
    width: 225px;
    border-radius: 50px;
    background: #1DCA91;
    border: none;
    text-decoration: none;
    padding: 10px;
    font-size: larger;
    color: white;
    margin: auto;
}
input[type="text"]{
    color: #937FA4;
}
input[type="email"], input[type="tel"]{
    color: #937FA4;
}
.alert {
    text-align: center; !important;
}
.alert-error{
    color: white;
    background-color: #B0413E;
}
.check_telecommuting{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.check_telecommuting label{
    color: #555555;
}
.check_telecommuting input:checked{
    background-color: #1dca91;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #937FA499;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button {
    background-color: #937FA4;
}
::-webkit-scrollbar-corner {
    background-color: black;
}
#myChart{
    width: 100% !important;
}
.options_offer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.options_offer span a{
    padding: 10px;
}
.page-link{
    color: #827399;
    border: 1px solid #937FA477;
}
.page-item.active .page-link{
    background-color: #827399;
    border: 1px solid #937FA4;
}
body .doughnut{
    width: 100% !important;
}