.apply {
    text-align: left;
}
.apply_div{
    line-height: 3px;
}
#photo_profile{
    width: 140px
}
.TextTitle{
    text-align: center
}
.title{
    color: white
}
.empty_applies_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty_applies_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    border: #E6E9E9;
}
.link_options_applies{
    color: #937FA4;
    font-weight: bold;
}
.link_options_applies:hover{
    color: #937FA4;
}
.empty_applies_text{
    color: #555555;
    padding-bottom: 15px;
    font-size: 1.3em;
    font-weight: bold;
}
body .btn_applies_options{
    color: white;
    padding: 15px;
    width: auto;
    margin-left: 15px;
}
.link_applie_option{
    color: white;
}
.link_applie_option:hover{
    color: white;
}
@media only screen and (max-width: 570px) and (min-width: 376px){

}

@media only screen and (max-width: 376px) and (min-width: 281px){

}