.apply {
    text-align: left;
}
.apply_div{
    /*line-height: 3px;*/
}
#photo_profile{
    width: 140px
}
.TextTitle{
    text-align: center
}
.title{
    color: white
}
.empty_applies_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty_applies_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    border: #E6E9E9;
}
.link_options_applies{
    color: #937FA4;
    font-weight: bold;
}
.link_options_applies:hover{
    color: #937FA4;
}
.empty_applies_text{
    color: #555555;
    padding-bottom: 15px;
    font-size: 1.3em;
    font-weight: bold;
}
body .btn_applies_options{
    color: white;
    padding: 15px;
    width: auto;
    margin-left: 15px;
}
.link_applie_option{
    color: white;
}
.link_applie_option:hover{
    color: white;
}
.textCandid{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.titreCandid{
    font-size: 1.3em;
    margin-bottom: 1em;
    text-align: left;
    color: #937FA4;
    font-family: 'KohinoorBangla', Arial, serif;
}
.btnCandid{
    width: 200px;
}
@media only screen and (max-width: 1025px) and (min-width: 571px) {
    .btnCandid{
        width: 170px;
    }
}

@media only screen and (max-width: 570px) and (min-width: 376px){
    .btn_applies_options{
        font-size: small;
        margin-bottom: 1em;
    }
    .responsiveBtn{
        text-align: center;
        width: 160px;
    }
    .btnCandid{
        width: 170px;
    }
    .btn-title{
        position: relative;
        bottom: 20px;
        font-size: small;
    }
}

@media only screen and (max-width: 376px) and (min-width: 279px){
    .btn_applies_options{
        font-size: small;
        margin-bottom: 1em;
    }
    .responsiveBtn{
        text-align: center;
        min-width: 150px;
    }
    .btnCandid{
        width: 170px;
    }
    .btn-title{
        position: relative;
        bottom: 20px;
        font-size: small;
    }

}
@media only screen and (orientation: landscape) and (max-width: 570px) and (min-width: 376px){
    .btn_applies_options{
        font-size: small;
        margin-bottom: 1em;
    }
    .responsiveBtn{
        text-align: center;
        width: 160px;
    }
    .btnCandid{
        width: 170px;
    }
    .btn-title{
        position: relative;
        bottom: 70px;
    }
}