.recruiter{
    text-align: left;
    display: inline;
}
.candidat{
    text-align: right;
    display: inline;
}
input[type='radio']:before{
    cursor: pointer;
    border-radius: 20px;
    background: #1DCA91 !important;
    padding: 20px;
    font-size: 1em;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body .input-group-text{
    margin-top: 10px;
}
input[type='radio']:after{
    cursor: pointer;
    border-radius: 20px;
    background-color: #555555 !important;
    padding: 20px;
    font-size: 1em;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type='radio']:focus{
    background-color: #555555 !important;
}

.form{
    display: flex;
}
.title{
    margin: 30px;
    text-align: center;
    font-size: 30px;
    color: #555555;
}
#btnRecruteur:hover, #btnCandidat:hover {
    background-color: #555555;
    text-decoration:none;
    background-position: inherit;
}
#contactChoice1{
    visibility: hidden;
    cursor: pointer;
    background: #1dca91;
    border-radius: 20px;
}
#contactChoice2{
    visibility: hidden;
    cursor: pointer;
}
.img_file{
    width: 30px;
}
.ButtonTrash {
    width: 3.5em;
    height: 2em;
    border-radius: 1em;
    background: #555555;
    border: none;
}
.bi-trash{
    background: #555555;
    width: 30px;
    height: 20px;
}
.container_info_contact input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container_message_contact div textarea{
    margin-top: 20px;
}
.container_send_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contactTitle{
    color: #1dca91;
    text-transform: uppercase;
    font-family: 'KohinoorBangla', Arial, serif;
}
.textContact {
    text-align: left;
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.pjOption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container_uploaded_document{
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    width: 60%;
    height: auto;
    border: 1px solid #55555544;
    margin: 20px 0 20px 0;
}
.first_uploaded_document{
    display: none;
}
.first_uploaded_document, .second_uploaded_document{
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1em;
    margin-left: 10px;
}
.title_uploaded_documents{
    color: #555555;
    font-size: 1.2em;
    font-weight: bold;
}
.second_uploaded_document{
    display: none;
}
.pjContainer{
    width: 40%;
    height: auto;
    margin: 0px 0 20px 0;
    padding-top: 20px;
 }
.btnFile{
    margin-left: 2em;
}
.validationOption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}