.recruiter{
    text-align: left;
    display: inline;
}
.candidat{
    text-align: right;
    display: inline;
}
input[type='radio']:before{
    cursor: pointer;
    border-radius: 20px;
    background: #1DCA91 !important;
    padding: 20px;
    font-size: 1em;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body .input-group-text{
    margin-top: 10px;
}
input[type='radio']:after{
    cursor: pointer;
    border-radius: 20px;
    background-color: #555555 !important;
    padding: 20px;
    font-size: 1em;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type='radio']:focus{
    background-color: #555555 !important;
}

.form{
    display: flex;
}
.title{
    margin: 30px;
    text-align: center;
    font-size: 30px;
    color: #555555;
}
#btnRecruteur:hover, #btnCandidat:hover {
    background-color: #555555;
    text-decoration:none;
    background-position: inherit;
}
#contactChoice1{
    visibility: hidden;
    cursor: pointer;
    background: #1dca91;
    border-radius: 20px;
}
#contactChoice2{
    visibility: hidden;
    cursor: pointer;
}
.img_file{
    width: 30px;
}
.ButtonTrash {
    width: 3.5em;
    height: 2em;
    border-radius: 1em;
    background: #555555;
    border: none;
}
.bi-trash{
    background: #555555;
    width: 30px;
    height: 20px;
}
.container_info_contact input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container_message_contact div textarea{
    margin-top: 20px;
}