.recruiter{
    text-align: left;
    display: inline;
}
.candidat{
    text-align: right;
    display: inline;
}
input[type='radio']:before{
    cursor: pointer;
    border-radius: 20px;
    background: #1DCA91 !important;
    padding: 20px;
    font-size: 1em;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body .input-group-text{
    margin-top: 10px;
}
input[type='radio']:after{
    cursor: pointer;
    border-radius: 20px;
    background-color: #555555 !important;
    padding: 20px;
    font-size: 1em;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type='radio']:focus{
    background-color: #555555 !important;
}

.form{
    display: flex;
}
.title{
    margin: 30px;
    text-align: center;
    font-size: 30px;
    color: #555555;
}
#btnRecruteur:hover, #btnCandidat:hover {
    background-color: #555555;
    text-decoration:none;
    background-position: inherit;
}
#contactChoice1{
    visibility: hidden;
    cursor: pointer;
    background: #1dca91;
    border-radius: 20px;
}
#contactChoice2{
    visibility: hidden;
    cursor: pointer;
}
.img_file{
    width: 30px;
}
.ButtonTrash {
    width: 3.5em;
    height: 2em;
    border-radius: 1em;
    background: #555555;
    border: none;
}
.bi-trash{
    background: #555555;
    width: 30px;
    height: 20px;
}
.container_info_contact input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container_message_contact div textarea{
    margin-top: 20px;
}
.container_send_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pj{
    width: 15px;
    align-items: center;
    text-decoration: #937FA4;
;
}
.contactTitle{
    color: #1dca91;
    text-transform: uppercase;
    font-family: 'KohinoorBangla', Arial, serif;
}
.textContact {
    text-align: left;
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.pjOption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container_uploaded_document{
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #55555544;
    margin: 20px 0 20px 0;
}
.first_uploaded_document{
    display: none;
}
.first_uploaded_document, .second_uploaded_document{
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1em;
    margin-left: 10px;
}
.title_uploaded_documents{
    color: #555555;
    font-size: 1.2em;
    font-weight: bold;
}

.second_uploaded_document{
    display: none;
}

.pjContainer{
    margin: 0px 0 20px 0;
    padding-top: 20px;
 }

.btnFile{
font-size: medium;
}

.validationOption{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.messageTextarea{
    height: 150px;
}
.textP{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
    font-size: small;
    text-align: start;
}

.marginCaptcha{
    margin-right: 20px;
}
.marginSend{
    margin-left: 20px;
}
.paddingContainer{
    padding-right: 150px;
    padding-left: 150px;
}

@media screen and (max-width: 1366px) and (min-width: 571px){
    .btnFile{
        font-size: small;
    }
    .g-recaptcha{
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .marginCaptcha{
        margin-right: 0;
    }
    .marginSend{
        margin-left: 0;
    }
}
@media only screen and (max-width: 570px) and (min-width: 376px){
    .btnFile{
        font-size: small;
    }
    .marginCaptcha{
        margin-right: 0;
    }
    .marginSend{
        margin-left: 0;
        margin-top: 15px;
    }
    .paddingContainer{
        padding-right: 15px;
        padding-left: 15px;
    }
    .validationOption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        text-align: center;
    }

}
@media only screen and (max-width: 376px) and (min-width: 281px){
    .paddingContainer{
        padding-right: 0;
        padding-left: 0;
    }
    .validationOption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        text-align: center;
    }
    .marginCaptcha{
        margin-right: 0;
    }
    .marginSend{
        margin-left: 0;
        margin-top: 15px;
    }
    .g-recaptcha{
        transform:scale(0.9);
        -webkit-transform:scale(0.9);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .pjOption{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}
@media only screen and (max-width: 280px){
    .paddingContainer{
        padding-right: 0;
        padding-left: 0;
    }
    .pjOption{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .validationOption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        text-align: center;
    }
    .btn{
        width: 100px;
        font-size: small;
    }
    .g-recaptcha{
        transform:scale(0.7);
        -webkit-transform:scale(0.7);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}