
.names {
    color: black;
    line-height: 30px;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bolder;
}

#photo_profile {
    width: 12rem;
    height: auto;
    border: none;
    clip-path: circle();
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    margin: 1rem auto;

}
.dashBoardList {
    display: block;
    text-align: left;
    margin: auto;
}

.dashBoardList li {
    color: #827399;
    list-style-type: none;
}

.buttonDashBoardNav {
    display: block;
    margin: 1rem auto;
}

.nav-link {
    color: #827399;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bolder;
    font-size: 1.2em;
}

.btn {
    width: 225px;
    border-radius: 50px;
    background: #1DCA91;
    border: none;
    font-family: 'KohinoorBangla', Arial, serif;
    padding: 10px;
    font-size: larger;
    color: white;
    margin: auto;
}

.btn:hover {
    background-color: #555555;
    text-decoration:none;
}

.nav-link:hover {
    color: #555555;
}

.text-dash-board {
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
    font-weight: bolder;
    text-align: center;
    font-size: larger;
}

.entityName {
    text-align: center;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bolder;
    color: #937FA4;
}
.section_dashboard{
    height: 450px;
}
.contenu-scroll{
    overflow: auto;
}
.container_sense_rate_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sense_rate_img{
    height: 250px; !important;
    width: auto;
}