/*
.alert-success{
    padding: 20px;
    text-align: center;
}
#link_recruiter_profil{
    font-weight: lighter;
}
.content-subtitle-item {
    background-color: white;
    height: 366px;
    width: 438px;
}
.content-subtitle-sense {
    background-color: white;
    height: 366px;
    width: 438px;
}
 */
.block_title{
    padding-bottom: 20px;
    padding-left: 20px;
}
.title-dashBoard{
    text-align: left;
    padding: 30px;
}
#link_recruiter_profil{
    font-weight: lighter;
    margin: 0;!important;
}
#link_recruiter_profil:hover{
    color: white;
}
.block_mini_webzine{
    background-color: white;
    border-radius: 30px;
}
.block_info_sense_rate{
    padding: 20px;
}
.block_info_sense_rate *{
    text-align: right;
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.block_mini_webzine{
    display: flex;
    flex-direction: row;
}
.mini_webzine_date{
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1em;
    padding-left: 15px;
}
body .mini_webzine_title {
    color: #937FA4;
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.1em;
    padding-left: 15px;
    font-weight: bold;
}
.mini_webzine_title:hover{
    color: #937FA4;
}
.section_dashboard{
    padding: 5px;
}
.in_section{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    min-height: 400px;
}
.block_info_mini_webzine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.block_info_mini_webzine *{
    font-weight: normal;
}
.beside_webzine{
    height: 100px;
    width: auto;
}
body .container_link_profil{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 35px;
}
.button-creerUne{
    padding: 10px;
}
.button-creerUne:hover{
    color: white;
    background-color: #555555;
}

.heightScroll {
    height: 360px;
}
.container_applie_body{
    display: none;
}
.link_applie_profil{
    color: #937FA4;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bold;
}
.link_applie_profil:hover{
    color: #555555;
}
.empty_offer_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.contenu-scroll{
    max-height: 350px;
    background-color: white;
}
.create_offer_option_text{
    color: #555555;
    font-weight: bold;
    font-family: 'KohinoorBangla', Arial, serif;
    padding-top: 50px;
}
.link_create_offer_intext{
    color: #937FA4;
    font-weight: bold;
}
.link_create_offer_intext:hover{
    color: #555555;
}
.background-title2{
    background: #827399;
    text-align: start;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bolder;
    height: 10em;
    max-width: 100%;
}
.background-title2 div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}
.title2{
    margin: 30px;
    font-size: 30px;
    color: white;
}
@media screen and (max-width: 339px){
    .block_info_sense_rate{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 425px){
    .mini_webzine_title{
        font-size: 0.9em!important;
    }
    .mini_webzine_date div h4, .mini_webzine_date div h2{
        font-size: 0.9em!important;
    }
}
@media only screen and (max-width: 570px) and (min-width: 376px){
    .btn_responsive{
        font-size: small;
        width: 120px;
        text-align: center;
    }
}
@media only screen and (max-width: 376px) and (min-width: 281px){
    .btn_responsive{
        font-size: small;
        width: 120px;
        text-align: center;
    }
}
@media only screen and (max-width: 281px) {
    .btn-title2 {
        font-size: small; !important;
        position: relative; !important;
        bottom: 50px;!important;
    }
}