.offer {
    text-align: left;
}

.jobOffer_div{
    line-height: 3px;
}

#photo_profile{
    width: 140px
}
.TextTitle{
    text-align: center
}
.title{
    color: white
}

.messageImgTrash {
    width: 1.5em;
    height: 2em;
    border-radius: 1em;
    border: none;
    color: black;
}
.trash{
    text-align: right;
}
.btn_cv {
    width: 20px;
    height: 5em;
    border-radius: 1em;
    background: #1DCA91;
    border: none;
}