.offer {
    text-align: left;
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}

.jobOffer_div{
    line-height: 3px;
}

#photo_profile{
    width: 140px;
    /*height: 120px;*/
}
.TextTitle{
    text-align: center
}
.title{
    color: white;
}
.favorite_entity_name{
    font-weight: bold;
}

.messageImgTrash {
    width: 52px;
    height: 42px;
    border-radius: 50px;
    background: #555555;
    border: none;
    padding: 8px;
    font-size: larger;
    fill: white;
    margin-left: 50px;
}
.messageImgTrash:hover {
    background-color: #1DCA91;
    text-decoration:none;
    background-position: inherit;
}

.align{
    padding-left: 2em;
}

/*.ImgTrash {*/
/*    width: 1.5em;*/
/*    height: auto;*/
/*    border-radius: 1em;*/
/*    border: none;*/
/*    background: #555555;*/
/*}*/
/*.trash{*/
/*    text-align: right;*/
/*}*/
.btn_cv {
    width: 20px;
    height: 5em;
    border-radius: 1em;
    background: #1DCA91;
    border: none;
}
.container_no_favorites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    border: #E6E9E9;
}
.container_no_favorites h4{
    color: #555555;
}

.normal {
    font-weight: normal;
    font-family: 'KohinoorBangla', Arial, serif;
}

@media screen and (max-width: 1025px){
    .favorite_offer_title{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 500px){
    .container_no_favorites h4{
        text-align: center;
    }
}
@media only screen and (orientation: landscape) and (min-width: 639px) and (max-width: 780px) {
    .abstractJobOfferButtonTrash {
        /*position: relative;*/
        /*bottom: 31px;*/
        /*left: 200px;*/
    }
}
@media screen and (max-width: 1360px){
    .h_favorites_candidates{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 1042px){
    .h_favorites_candidates{
        font-size: 1em;
    }
}