.offer {
    text-align: left;
}

.jobOffer_div{
    line-height: 3px;
}

#photo_profile{
    width: 140px
}
.TextTitle{
    text-align: center
}
.title{
    color: white
}

.ImgTrash {
    width: 1.5em;
    height: 2em;
    border-radius: 1em;
    border: none;
    color: black;
}
.trash{
    text-align: right;
}
.btn_cv {
    width: 20px;
    height: 5em;
    border-radius: 1em;
    background: #1DCA91;
    border: none;
}
.container_no_favorites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    border: #E6E9E9;
}
.container_no_favorites h4{
    color: #555555;
}

@media screen and (max-width: 500px){
    .container_no_favorites h4{
        text-align: center;
    }
}
