.footer{
    background-color: #222222;
    width: 100%;
}

.text{
    color: #FFFFFF;
    text-align: left;
}

.footer_footer{
    background-color: #000000;
    width: 100%;
}

.copyright{
    color: lightgrey;
}

.legalMentions{
    text-decoration: none;
    color: lightgrey;
}