.background-picture {
    background-size: cover;
    background-image: url("../img/job-tech-impact-sowrs.webp");
    width: 100%;
    height: 100%;
    font-family: 'KohinoorBangla', Arial, serif;
}
.Background-jobOffer-filter-home {
    background: rgba(255, 255, 255, 0.2);
}
.field-jobOffer-filter-home {
    opacity: 1;
}
.home_subtitle{
    text-align: center;
}
.home_link{
    text-decoration: none;
    padding: 10px;
}
.home_link:hover{
    color: #FFFFFF;
}
.btn-filter-home {
    font-family: 'KohinoorBangla', Arial, serif;
    width: 100%;
    height: 2.5em;
    border-radius: 50px;
    background: #1DCA91;
    border: none;
    font-size: medium;
    color: white;
    margin: auto;
}
.btn-filter-home:hover {
    background: #555555;
}
.title-background {
    font-size: 2.3em;
    font-weight: bolder;
    text-align: left;
}
.subtitle-background {
    font-size: 2em;
    text-align: left;
}
.sub-subtitle-background {
    font-size: 1.2em;
    text-align: left;
}
.test {
    opacity: 1;
}
.text-white {
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.1em;
    text-align: left;
}
.texte-green {
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.1em;
    color: #1DCA91;
}
.home_btn_candidate_recruiter {
    background: none;
    border: 1px solid white;
    width: 100%;
}
.home_btn_candidate_recruiter:hover {
    background: white;
    color: black;
}
.container_latest_posts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.post_mini_home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}
.post_mini_home *{
    color: #555555;
    text-align: left;
    font-family: 'KohinoorBangla', Arial, serif;
}
.post_mini_home a{
    color: #937FA4;
    font-size: 1.1em;
    padding-top: 10px;
    font-weight: bold;
}
.post_mini_home h3{
    font-size: 0.9em;
    padding-top: 10px;
}
.post_mini_home p{
    font-size: 0.9em;
}
.container_pop_up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    width: 100%;
}
.presentation_popup{
    background-color: white;
    border-radius: 30px;
    border: 1px solid #55555588;
    box-shadow: 0 0 2em #55555588;
    width: 50%;
    max-width: 500px;
    height: auto;
    padding: 20px;
}
.presentation_popup p{
    text-align: left;
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.btn_close_popup{
    background-color: white;
    color: #555555;
    border: 1px solid #55555588;
}
.container_main_options{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}
.container_main_options a{
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    margin-right: 15px;
}
.container_main_options a:hover{
    background-color: white!important;
    color: #555555!important;
}

@media screen and (max-width: 365px){
    .btn_close_popup{
        width: 100% !important;
        font-size: 0.9em;
    }
    .presentation_popup p{
        font-size: 0.9em;
    }
    .presentation_popup{
        padding: 3px!important;
    }
}

@media screen and (max-width: 350px) {
    .texte-green{
        display: none;
    }
}

@media screen and (max-width: 455px){
    .container_main_options a{
        font-size: 0.8em!important;
        text-align: center;
    }
    form[name="search_candidate"]>div>div>input{
        font-size: 0.8em;
    }
    form[name="search_candidate"]>div>div>select{
        font-size: 0.8em;
    }
    form[name="search_candidate"]>div>div>div>div>div>label{
        font-size: 0.8em;
    }
    .texte-green{
        font-size: 0.8em;
    }
    .form-check{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .form-check>label{
        text-align: center;
    }
    .form-check .form-check-input{
        margin: 0;
    }
    .link_show_all_home{
        text-align: center!important;
    }
}
@media screen and (max-width: 500px){
    .home_subtitle{
        font-size: 1em;
    }
}
@media screen and (max-width: 992px){
    .presentation_popup{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn_about_popup{
        display: none;
    }
    .texte-green{
        font-weight: bold!important;
        background-color: #ffffff88;
        padding: 5px 15px 5px 15px;
        border-radius: 30px;
        border: 0;
    }
}