@keyframes btnAdminGrowUp {
    from{
        padding: 15px;
    }
    50%{
        padding: 21px;
    }
    to{
        padding: 15px;
    }
}
.main_title_webzine{
    text-align: center;
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
    padding: 40px;
    font-weight: normal;
}
.container_posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.illustration_post{
    height: auto;
}
.post_abstract{
    padding: 10px;
}
.post_mini{
    padding: 10px;
}
.post_mini *{
    margin-bottom: 20px;
}
.post_mini .post_mini_date{
    padding-left: 20px;
}
blockquote{
    border-left: 3px solid #55555555;
    padding-left: 30px;
}
.btn_admin{
    background-color: #B0413E;
    padding: 15px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-family: 'KohinoorBangla', Arial, serif;
}
.btn_admin:hover{
    color: white;
    animation-duration: 0.5s;
    animation-name: btnAdminGrowUp;
}
.block_create_tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #B0413E88;
    border-radius: 30px;
}
.block_create_tag *{
    margin: 10px;
}
.block_create_tag label{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
    font-weight: bold;
}
@media screen and (max-width: 999px){
    .admin_options{
        display: flex;
        flex-direction: column;
        justify-content: center;align-items: center;
    }
}