*{
    font-family: 'KohinoorBangla', Arial, serif;
}

/*----------------FILTER-------------------------------*/

.jobOffer_filter{
    border: 2px solid lightgray;
    border-radius: 20px;
    background-color: #1dca91;

}

/*--------------------CANDIDATE LIST--------------------------*/

.job_offer_row{
    border: 2px solid lightgray;
    border-radius: 20px;
}
.modal_content>p>em{
    font-weight: bold;
    font-style: normal;
}
.job_text{
    color: #555555;
}
.jobOffer_img{
    margin-left: 15px;
}

.entity_pdp{
    width: 6em;
    border:none;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    display: block;
}
.jobOffer_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.jobOffer_text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.jobOffer_text p {
    text-align: left;
    padding: 0;
}
.btn_contract_type{
    font-size: 1em;
    width: 10em;
    pointer-events: none;
    box-shadow: none;
}

.btn_jobOffer_filter {
    font-family: 'KohinoorBangla', Arial, serif;
    width: 100%;
    height: 2.5em;
    border-radius: 50px;
    background: white;
    border: none;
    font-size: medium;
    color: #1dca91;
    margin: auto;
}
.btn_search_job_offer{
    font-size: 1em;
    background: #FFFFFF;
    color: #1dca91;
    width: 130px;
}
.jobOffer_filter form div div .form-check label{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.link_job_offer_infos{
    color: #937FA4!important;
    font-weight: bold;
    padding-bottom: 10px;
}
.link_job_offer_infos:hover{
    color: #555555;
}

.card_job_offer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contract_type_card_job_offer>div{
    min-width: 50px;
}
.first_section_card_job_offer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}
.fa-times{
    cursor: pointer;
    position: relative;
    right: 15px;
    top: 5px;
}
.second_section_card_job_offer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.info_card_job_offer{
    padding: 10px 0 0 15px;
}

@media screen and (max-width: 530px){
    body .card_job_offer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first_section_card_job_offer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
    }
    .contract_type_card_job_offer>div{
        margin-top: 15px;
    }
}