.legale_title{
    font-family: 'KohinoorBangla', Arial, serif;
}
.panel-default{
    padding: 30px;
}
.panel-default *{
    font-family: 'KohinoorBangla', Arial, serif;
    text-align: left;
}
.panel-default h2, h3, strong{
    padding: 20px;
}