*{
    font-family: 'KohinoorBangla', Arial, serif;
}
/*----------------FILTER-------------------------------*/

.candidate_filter{
    border: 2px solid lightgray;
    border-radius: 20px;
    background-color: #1dca91;
}

/*--------------------CANDIDATE LIST--------------------------*/

.candidate_row{
    border: 2px solid lightgray;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.candidate_text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.candidate_text p {
    margin-bottom: 1px;
}
.btn_contract_type{
    font-size: 1em;
    width: 10em;
    pointer-events: none;
    box-shadow: none;
}
.btn_search_candidate{
    width: 7em;
    font-size: 1em;
    background: #FFFFFF;
    color: #1dca91;
    margin-top: 15px;
}
.check_telecommute_research label{
    color: #555555;
}
.check_telecommute_research input:checked{
    background-color: #1dca91;
}