.border-messaging{
    background-color: white;
    height: 60Px;
    width: 100%;
    border-bottom: 1px solid #937FA455;
}
.title_messagerie{
    margin: 15px;
    text-align: left;
    color: #555555;
}
.header_messaging{
    height: 600px;
    padding: 5px 0 5px 0;
}
.thead{
    padding: 10px;
}
.thead *{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.thead .tableFirst{
    border-radius: 50%;
}
.border-top-messaging {
    background-color: white;
    width: 80%;
}
.tableFirst{
    border-bottom: 1px solid #55555544!important ;
    background-color: #F8F9FA;
}
.messageButtonTrash {
    width: 2.5em;
    height: 2em;
    border-radius: 1em;
    background: #555555;
    border: none;
}

.messageButton {
    width: 2.5em;
    height: 2em;
    border-radius: 1em;
    background: #1DCA91;
    border: none;
}
.messageImgPencil {
    height: 1em;
    width: auto;
}
.messageImgageTrash {
    height: 25px;
    width: 25px;
}
a{
    text-decoration: none;
    color: #313131;
}
.thead{
    width: 225px;
    border-radius: 50px;
    background: white;
    padding: 10px;
    font-size: larger;
}
.rounded-div{
    border: 2px solid lightgray;
    border-radius: 20px;
}
.btn-response {
    width: 50px;
    border-radius: 50px;
    background: #1DCA91;
    border: none;
    padding: 10px;
    font-size: larger;
    color: white;
    margin: auto;
}
.link_messaging_page{
    color: #937FA4;
    font-family: 'KohinoorBangla', Arial, serif;
}
.link_messaging_page:hover{
    color: #555555;
}
.message_category{
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
}
.message_date{
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
}
.note_learn{
    font-weight: bold;!important;
}
.message_array_section{
    vertical-align: middle;
}
.container_empty_messages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.empty_messages{
    background-color: white;
    padding: 60px;
    border-radius: 30px;
}
.empty_messages p{
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.2em;
    color: #555555;
    font-weight: bold;
}
.mini_letter{
    color: #937FA4;
}
.mini_options_message{
    display: none!important;
}
@media screen and (max-width: 418px){
    .user_sender_message_section{
        display: none;
    }
    .user_sender_message{
        display: none;
    }
}
@media screen and (max-width: 440px){
    .empty_messages{
        padding-left: 15px;
        padding-right: 15px;
    }
    .date_message_section{
        display: none!important;
    }
    .date_message{
        display: none;
    }
}
@media screen and (max-width: 546px){
    .category_message_section{
        display: none;
    }
    .message_type{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .container_message_info th{
        font-size: 0.9em;
    }
    .thead *{
        font-size: 0.9em;
    }
    .date_message_section{
        display: none!important;
    }
    .date_message{
        display: none;
    }
}
@media screen and (max-width: 1388px){
    .options_message_section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}