@font-face {
    font-family: 'KohinoorBangla', Arial, serif;
    src: url('polices/KohinoorBangla.ttc'),
    url('polices/KohinoorBangla.ttf');
}
.background-title{
    background: #827399;
    text-align: center;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bolder;
    height: 10em;
    max-width: 100%;
}
.background-title div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
body .container_upload{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
}
.background-title div div button{
    margin: 0;
}
.title {
    text-transform: uppercase;
}
.btn-title {
    justify-self: end;
    width: auto;
    border-radius: 50px;
    background: #1DCA91;
    border: none;
    font-family: 'KohinoorBangla', Arial, serif;    padding: 10px;
    font-size: larger;
    color: white;
    margin: auto;
    text-decoration:none;
}

.btn-title:hover {
    background-color: #555555;
    text-decoration:none;
    background-position: inherit;
    color: white;
}

.subtitle-myDetail  {
    font-family: 'KohinoorBangla', Arial, serif;
    color: #1dca91;
    font-weight: bolder;
}
.green-line {
    width: 10%;
    border-top: 3px solid #1dca91;
}
.paragraph {
    color: #555555;!important;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bolder;
    text-align: justify;
}
.text-area {
    height: 8em;
}
.btn-recognition {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #1DCA91;
    border: none;
    font: normal 15px 'KohinoorBangla';
    font-size: larger;
    color: white;
    margin: auto;
}
#btnAnnulerAjoutCauseRecruiter {
    width: 2%;
    cursor: pointer;
}
#btnAjoutCauseRecruiter {
    margin: 1em;
}
.subtitle {
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bolder;
    color: #1DCA91;
    text-transform: uppercase;
}
.button-creerUne {
    width: 125px;
    height: 35px;
    border-radius: 25px;
    background: #827399;
    border: none;
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: larger;
    color: white;
}
.pourcent {
    font-weight: bolder;
    font-size: 3.5em;
}
#download_actual_proof{
    margin-top: 15px;
}
#details_engagements_block{
    margin-top: 20px;
}
.details_checkbox_input{
    padding: 10px;
    padding-left: 60px;
}
.details_checkbox_input div div input{
    margin-right: 20px;
    margin-left: 20px;
}
#actions_mydetails{
    padding: 20px;
    margin-top: 30px;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked{
    color: #1dca91;
}
#recruiter_modification_carbonFootPrintProof{
    display: none;
}
.custom-file{
    display: none;
}
.form-check-input:checked[type=checkbox]{
    background-color: #1dca91;
}
#p_engagements{
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.3em;
    color: #1dca91;
}
.form-check-label{
    font-family: 'KohinoorBangla', Arial, serif;
}
.link_action_mydetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #937FA4;
    text-decoration: none;
    font-family: 'KohinoorBangla', Arial, serif;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.link_action_mydetails:hover{
    color: #555555;
}
.container_commitments_options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.block_commitment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block_new_commitment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.block_new_commitment label{
    color: #555555;
}
.block_new_commitment *{
    margin-bottom: 20px;
}
.commitment_array tr{
    text-align: center;
    margin-bottom: 30px;
}
.commitment_array tr td{
    padding: 5px;
    color: #555555;
}
.cause_choice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.my_commitment_title{
    color: #937FA4;
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
    padding: 20px;
}
.label_commitment{
    display: none;
}
#commitment{
    margin: 0;
    width: 311px;
}
#commitment_text{
    margin: 0;
    color: #55555588;
}
.btn_save_commitment{
    margin-top: 20px;
}
.container_section{
    padding: 30px;
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
}
.about_information{
    color: #937FA4;
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 0.9em;
    text-align: left;
}
body .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #555555;
}
body .form-control{
    color: #555555;
}
.container_input_file_proof{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#details_engagements_block{
    background-color: white;
    border-radius: 30px;
    padding: 15px;
}
.details_engagements_block_candidate_line{
    padding: 30px;
}
#details_engagements_block_candidate{
    background-color: white;
    border-radius: 30px;
    padding: 15px;
}
.commitment_label{
    display: none;
}
#commitment{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#commitment_text{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.recognition_title{
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
    padding: 10px;
}
.check_telecommute label{
    color: #937FA4;
}
.check_telecommute input:checked{
    background-color: #1dca91;
}
.container_options_job_offer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.job_offer_creation_title{
    color: #1dca91;
}
.info_message{
    display: none;
    background-color: #00000070;
    border-radius: 30px;
}
.info_message p{
    color: white;
    font-family: 'KohinoorBangla', Arial, serif;
}
.delete_video_url{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.delete_video_url i:hover{
    cursor: pointer;
}
.recognition_form{
    background: #FFFFFF;
    padding: 15px;
    border-radius: 30px;
}
#nameForm{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #555555;
}
.mini_actions_mydetails{
    display: none;
}
#formOne{
    position: relative;
    bottom: 500px;
    border: 1px solid #55555588;
    box-shadow: 0 0 2em #55555588;
}
.engagement {
    color: #555555;!important;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bolder;
    text-align: start;
}
.list-group-item{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}

@media screen and (max-width: 520px){
    body .details_checkbox_input{
        padding: 0;
        margin: 0;
        min-height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    body .details_checkbox_input .form-group{
        padding: 0;
        margin: 0;
    }
    body .details_checkbox_input .form-group .form-check{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    body .details_checkbox_input .form-group .form-check input{
        margin: 0;
    }
    body .details_checkbox_input .form-group .form-check label{
        text-align: center;
    }
    body .container_commitments_options{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 576px){
    #formOne {
        position: relative;
        bottom: 600px;
    }
}
@media screen and (max-width: 1082px){
    .mini_actions_mydetails{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .big_link_action{
        display: none;
    }
}