.nav_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
#logo_sowrs{
    padding: 20px;
}
.burger_menu{
    display: none;
}
.user_icon{
    display: none;
}
.burger_menu_restore{
    display: none;
}
.burger_menu, .burger_menu_restore, .user_icon{
    color: #937FA4;
}
.container_logo_home{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.container_nav_top{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.container_nav_top>div{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container_nav_top>div>a{
    color: #937FA4;
    font-size: 1.4em;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bold;
}
.container_nav_top>div>a:hover{
    color: #555555;
}
.container_nav_top_mini{
    display: none;
}
.nav_top_mini{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav_top_mini>div{
    padding: 20px;
}
.nav_top_mini>div>a{
    color: #937FA4;
    font-size: 1.1em;
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bold;
}
.nav_top_mini>div>a:hover{
    color: #555555;
}
.container_social_network_mini{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container_social_network_mini>div{
    margin: 20px;
}

@media screen and (max-width: 1065px){
    .nav_top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 25px;
    }
}
@media screen and (max-width: 905px){
    .container_nav_top_mini{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_nav_top{
        display: none;
    }
    .container_nav_top{
        display: none;
    }
    .container_nav_top_mini{
        display: none;
    }
    .burger_menu{
        display: block;
        padding-left: 20px;
    }
    .burger_menu_restore{
        padding-left: 20px;
    }
    .user_icon{
        display: block;
        padding-right: 20px;
    }
    .container_top_nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between!important;
        align-items: center;
        padding: 15px;
    }
}
@media screen and (max-width: 470px){
    #link_job_board{
        text-align: justify;
    }
    .nav_top_mini>div{
        padding: 10px;
    }
    .nav_top_mini>div>a{
        font-size: 1em;
    }
}
@media screen and (max-width: 490px){
    .container_main_options a{
        text-align: center;
    }
}
@media screen and (max-width: 295px){
    .principal_nav_mini div a{
        font-size: 0.8em!important;
        padding: 0!important;
    }
}
@media screen and (max-width: 415px){
    .burger_menu{
        padding-left: 0!important;
    }
    .burger_menu_restore{
        padding-left: 0!important;
    }
    .user_icon{
        padding-right: 0!important;
    }
}
@media screen and (max-width: 370px){
    #logo_sowrs{
        max-width: 150px!important;
    }
}