.social_link_mini{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.entity_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #827399;
    min-height: 140px;
}
#entity_name{
    color: white;
}
.container_picture_sense_rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container_social_recruiter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #827399;
    min-height: 140px;
}
.categorie_title{
    text-align: left;
    padding: 40px;
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
    font-size: 1.3em;
}
.entity_resume{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}
.entity_resume div p{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.p_about_entity{
    padding: 50px;
}
.p_about_entity p{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.block_engagements{
    padding: 50px;
    padding-top: 0;
}
.container_engagements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container_engagements p{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
#no_reco{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.list_recognition{
    text-align: center;
    margin-bottom: 10px;
}
.link_jobOffer{
    text-decoration: none;
    color: #827399;
}
.left_part_recruiter_profil{
    padding: 50px;
}
#p_reason_recruiter{
    margin-top: 80px;
}
#btn_return_recruiter{
    margin-top: 80px;
}
.job_offer_recruiter{
    padding: 0;
    padding-top: 15px;
}
.job_offer_title{
    text-align: center;
    padding: 40px;
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
    font-size: 1.3em;
}