.register_title{
    font-family: 'KohinoorBangla', Arial, serif;
    text-align: center;
}
.btnRegisterSelected{
    color: #FFFFFF;
}
.btnRegisterNoSelect{
    background: grey;
}
.text-register {
    font-family: 'KohinoorBangla', Arial, serif;
}
.container_btn{
    text-align: center;
    cursor: pointer;
}
#btnCandidat{
    background: #1dca91;
    border-radius: 20px;
}
#btnRecruteur{
    background: #1dca91;
    border-radius: 20px;
}
.container_agree_terms{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}
.container_agree_terms label{
    padding-right: 22px;
}
.container_btn_create_account{
    text-align: center;
}
#department_choice{
    display: none;
}