small{
    color: #937FA4;
    font-family: 'KohinoorBangla', Arial, serif;
}
.block_small{
    padding-top: 10px;
}
.send_mail_reset div label{
    color: #55555599;
    font-family: 'KohinoorBangla', Arial, serif;
}
#container_btn_reset{
    text-align: center;
}