.reset_password_title{
    text-align: center;
    padding: 30px;
    color: #937FA4;
    margin-top: 30px;
}
.btn_validate_email{
    margin-top: 40px;
    margin-bottom: 30px;
}
.container_btn_reset{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media screen and (max-width: 575px){
    #send_mail_reset{
        padding: 20px;
    }
}