.result_sens_rate_h3 {
    color: #1dca91;
    font-weight: bold;
}
.matching_back_ground{
    background: #30c994;
}
body .matching_title{
    text-align: center; !important;
    color: #937FA4;
    padding: 20px;
    font-size: 1.8em;
}
body .matching_big_title{
    text-align: center;
    color: white; !important;
    padding: 20px;
    font-size: 1.8em;
}
.matching_text {
    text-align: center;
    color: #FFFFFF;
}
.matching_text p {
    color: #FFFFFF;
}
.container_matching_cards{
    margin-bottom: 10px;
}
.match_card{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}
.first_section_card_matching{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.second_section_card_matching{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.match_card_sensrate{
    text-align: center;
    background-color: #827399;
    width: 60px!important;
    height: 60px!important;
}
.match_card_description *{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}
.match_card_btn{
    margin-right: 15px;
}
.doughnut{
    width: 23em;
    height: 15em;
}
.subtitle {
    color: #1dca91;
    font-weight: bold;
}
.result_sensrate_picture {
    width: 100%;
    height: 100%;
}
.result_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.result_text p{
    color: #555555;
    text-align: left;
}
.matching_profil_picture{
    width: 60px!important;
    height: 60px!important;
}
.illus_matching_rate, .match_card_picture{
    padding-left: 10px;
    padding-right: 10px;
}
.match_card_btn a{
    width: auto!important;
    font-weight: bold;
}
.matching_back_ground *, .result_text{
    font-family: 'KohinoorBangla', Arial, serif;
}
.match_card_entity_name{
    font-size: 1.2em;
}
.match_card_description{
    font-family: 'KohinoorBangla', Arial, serif;
}
.doughnut_matching{
    max-width: 500px;
}
.link_candidate_name{
    display: none;
}

@media screen and (max-width: 400px){
    .second_section_card_matching{
        display: none;
    }
    .match_card_description *{
        font-size: 0.9em;
    }
    .link_candidate_name{
        display: block;
        color: #937FA4;
        font-size: 1.2em;
        font-family: 'KohinoorBangla', Arial, serif;
        font-weight: bold;
    }
    .link_candidate_name:hover{
        color: #555555;
    }
    .match_card_entity_name{
        display: none;
    }
}
@media screen and (max-width: 620px){
    .match_card{
        width: 100% !important;
    }
}
@media screen and (max-width: 992px){
    .match_card{
        width: 80%;
    }
}
@media screen and (max-width: 1025px){
    .result_text{
        text-align: justify;
    }
}
@media screen and (max-width: 1150px){
    .match_card_btn a{
        font-size: 1em;
    }
    .container_matching_cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}