.link_messagerie_send{
    text-decoration: none;
}
.btnBackTo{
    width: 150px;
    margin: 20px;
    text-decoration: none;
}
.btn_send_apply{
    width: 150px;
    margin: 20px;
}
.buttonPj{
    width: 200px;
    margin: 20px;
}
.block_info_apply{
    background-color: white;
    margin: 10px;
}
.apply_info{
    text-align: left;
}