.buttonPj{
    width: 200px;
    margin: 20px;
}
.btnBackTo{
    width: 150px;
    margin: 20px;
    text-decoration: none;
}
.btn_send_response{
    width: 150px;
    margin: 20px;
}
.block_info_message{
    background-color: white;
    margin: 10px;
}
.p_info_message{
    text-align: left;
}
.body_initial_message{
    padding-left: 20px;
}
.line{
    text-align: center;
}
.header_title_send_response{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.link_main_messagerie{
    color: #937FA4;
}
.link_main_messagerie:hover{
    color: #555555;
}.link_main_messagerie{
     color: #937FA4;
 }
.link_main_messagerie:hover{
    color: #555555;
}
.send_message_options{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.send_message_options>div{
    margin-left: 20px;
    margin-right: 20px;
}
.send_message_options div a{
    font-family: 'KohinoorBangla', Arial, serif;
    font-weight: bold;
}
.btn_send_applie{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'KohinoorBangla', Arial, serif;
}
.link_return_home_messagerie{
    color: #937FA4;
}
.link_return_home_messagerie:hover{
    color: #555555;
}
.container_infos_applie{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #55555544;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
    margin-bottom: 15px;
}
#response_message_body{
    padding: 20px;
    border-radius: 30px;
    height: 200px;
    width: 100%;
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
}
