body .show_candidate_jumbotron {
    background: #827399;
    margin-bottom: 5em;
}
.show_candidate_jumbotron_name {
    color: #FFFFFF !important;
    font-weight: bold;
    text-align: center;
}
#show_candidate_photo_profile {
    text-align: center;
    margin: 0em;
    width: 100%;
}
.candidate_picture{
    width: 100%;
    height:100%;
}
.show_candidate_jumbotron_infos {
    color: #dfdfdf;
    text-align: center;
    min-height: 55px;
}
.show_candidate_jumbotron_inspiration {
    color: #e0e0e0;
    text-align: center;
    font-style: italic;
}
.show_candidate_sens_rate {
    background: #FFFFFF;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
}
#btn_doughnut {
    cursor: pointer;
    margin: 0;
}
.block_img_sense_rate{
    height: 4em;
}
.sense_rate_logo{
    width: 100%;
    height: 100%;
}
.rotate {
    transform: rotate(180deg);
}
.show_candidate_infos_text {
    color: #1dca91;
    font-weight: bold;
}
.show_candidate_socialButton {
    height: 2em;
    background: #1dca91;
    text-align: center;
    cursor: pointer;
}
.link_recruiter{
    text-decoration: none;
}
.logo_website, .logo_linkedin_job_offer, .logo_github, .logo_stackoverflow{
    width: 35px;
    height: 35px;
}
.custom-file-input #apply_file{
    display: block;
}
.container_contact label{
    padding: 10px;
    font-weight: bold;
    color: #555555;
}
.container_info_offer{
    padding: 40px;
}
.container_info_offer p{
    text-align: left;
}
.container_entity_picture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container_cv_pdf{
    height: 400px;
}