body .rounded-circle{
    width: 100%;
}
body .show_candidate_jumbotron_name{
    color: #dfdfdf;
}
body .job_offer_title_jumbotron{
    color: #FFFFFF;
}
.container_social_network{
    text-align: center;
    margin-bottom: 40px;
}
#cke_job_offer_description{
    margin-bottom: 25px;
}
.container_info_offer img, .container_info_offer iframe, .container_info_offer video{
    display: none!important;
}
.container_info_offer p{
    color: #555555!important;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #555555;
    color: #FFFFFF;
    font-size: small;
}

.btn_doughnut{
    margin: 0;
}
.container_button_postuler{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#show_joboffer_photo_profile {
    border: none;
    /*clip-path: circle();*/
    /*-moz-border-radius: 50%;*/
    /*-webkit-border-radius: 50%;*/
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.btnItinéraire{
    margin-top: 15px;
    width: 90%;
}

@media screen and (max-width: 310px){
    .title_telecommuting{
        font-size: 1em;
    }
}
@media screen and (max-width: 377px){
    .offer_right_part_section{
        width: 88% !important;
    }
}
@media screen and (max-width: 1082px) and (min-width: 571px) {
    #show_joboffer_photo_profile {
        /*border: none;*/
        /*clip-path: circle();*/
        /*-moz-border-radius: 50%;*/
        /*-webkit-border-radius: 50%;*/
        vertical-align : middle;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}
@media only screen and (max-width: 570px) and (min-width: 376px){
    #show_joboffer_photo_profile {
        /*border: none;*/
        /*clip-path: circle();*/
        /*-moz-border-radius: 50%;*/
        /*-webkit-border-radius: 50%;*/
        vertical-align : middle;
        width: 90px;
        height: 90px;
        border-radius: 50%;

    }
    .options_offer{
        font-size: small;
        margin-bottom: 2em;
        position: relative;
        left: 11px;
    }
}
@media only screen and (max-width: 376px) and (min-width: 281px){
    #show_joboffer_photo_profile {
        /*border: none;*/
        /*clip-path: circle();*/
        /*-moz-border-radius: 50%;*/
        /*-webkit-border-radius: 50%;*/
        vertical-align : middle;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        align-items: center;
    }
    .options_offer{
        font-size: small;
        margin-bottom: 2em;
        position: relative;
        left: 9px;
    }
}
