.right_part{
    border-left: 2px solid #E9ECEF;
    margin-top: 20px;
}
/*
.right_part *{
    font-family: 'KohinoorBangla', Arial, serif;
}
*/
.left_part_profil *{
    font-family: 'KohinoorBangla', Arial, serif;
}
.entity_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #827399;
    min-height: 180px;
}
.entity_title div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_presentation{
    color: white;
}
.header_presentation *{
    font-family: 'KohinoorBangla', Arial, serif;
}
.container_engagements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
.social_link_mini{
    height: 20px;
    width: auto;
}
.btn_social{
    width: 50px;
}
.profil_category_title{
    color: #1DCA91;
    font-family: 'KohinoorBangla', Arial, serif;
}
.profil_category_title_bottom{
    color: #1DCA91;
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.2em;
}
.profil_category_title_bottom span{
    color: #937FA4;
    font-size: 0.8em;
}
.container_category_profil{
    padding: 35px;
}
/**
.container_category_profil div p{
    color: #555555;
}
 */
.list_recognition_title{
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 8px;
}
.list_recognition_text{
    padding-left: 20px!important;
    padding-bottom: 5px;
}
.list_recognition_title, .list_recognition_text{
    font-family: 'KohinoorBangla', Arial, serif;
}
.container_sense_rate{
    margin: 40px;
}
.container_all_job_offer{
    padding: 30px;
    border: 1px solid #1dca9133;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_job_offer{
    border: 1px solid #937FA455;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.job_offer_title{
    color: #937FA4;
    font-size: 1.3em;
    font-family: 'KohinoorBangla', Arial, serif;
}
.contract_type{
    padding: 10px;
    border-radius: 30px;
    background-color: #1dca91;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contract_type_CDD{
    padding: 10px;
    border-radius: 30px;
    background-color: #6ce1ba;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contract_type_Freelance{
    padding: 10px;
    border-radius: 30px;
    background-color: #aff9f0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contract_type_Associe{
    padding: 10px;
    border-radius: 30px;
    background-color: #56d9cb;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contract_type_Stage{
    padding: 10px;
    border-radius: 30px;
    background-color: #80eee2;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contract_type_Autre{
    padding: 10px;
    border-radius: 30px;
    background-color: #14ae9e;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contract_type_Interim{
    padding: 10px;
    border-radius: 30px;
    background-color: #a59bb5;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contract_type_Service{
    padding: 10px;
    border-radius: 30px;
    background-color: #827399;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.localisation_job_offer{
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.1em;
    color: #555555;
    font-weight: normal;
}
.link_offer_details{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container_commitment_recruiter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.commitment_recruiter{
    padding: 10px;
    border: 1px solid #1dca9188;
    border-radius: 30px;
    background-color: #1dca9122;
    margin: 10px;
}
.picture_sense_rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content_sense_rate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.info_sense_rate{
    text-align: left;
}
#sense_rate_minititle{
    font-weight: bold;
    color: #555555;
}
.list_causes{
    text-align: center;
    background-color: #F4F6F7;
}
.content_title{
    color: #1DCA91;
    text-align: left;
    padding-left: 20px;
}
.other_content_title{
    color: #1DCA91;
    font-weight: bold;
}
.complementary_infos_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    border: #E6E9E9;
}
.container_social_link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container_social_link a{
    margin-right: 15px;
    margin-left: 15px;
}
.alert-light-grey{
    background-color: #EEEEEE;
}
.container_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    border: #E6E9E9;
}
.alert-light-grey{
    background-color: #EEEEEE;
}
#contact_recruiter div label{
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact_recruiter div input, textarea{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn_send_message{
    margin-top: 10px;
}
.profil_category_title_candidate{
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.4em;
    color: #1dca91;
}
.profil_category_title_candidate span{
    color: #555555;
    font-size: 0.8em;
}
.commitment_candidate{
    padding: 15px;
    background-color: #AAAAAA55;
    margin-top: 15px;
    margin-bottom: 15px;
}
.commitment_candidate h3{
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 1.2em;
    color: #555555;
}
.commitment_candidate p{
    font-family: 'KohinoorBangla', Arial, serif;
    font-size: 0.8em;
    color: #937FA4;
}
#btn_doughnut{
    margin: 0;
}
.list_line{
    list-style: none;
    padding-left: 15px;
    font-size: 0.9em;
    color: #555555;
}
.no_submit{
    color: #B0413E;
}
.mini_img_sense_rate{
    width: 70px;
    height: auto;
}
.container_cv_pdf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.cv_object{
    border-radius: 5px;
}
.block_cv_pdf{
    display: none;
}
.container_sense_rate_infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mini_container_social_link{
    display: none;
}
.show_candidate_sens_rate .doughnut{
    height: auto!important;
}
.about_user{
    text-align: justify!important;
}
.recruiter_reason_to_be{
    text-align: justify;
}
.list_line{
    font-family: 'KohinoorBangla', Arial, serif;
    color: #555555;
}

@media screen and (max-width: 991px) and (min-width: 571px) {
    .sense_rate_line{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .profil_category_title_bottom{
        padding-left: 30px;
    }
    .right_part{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .mini_container_social_link{
        display: block;
    }
    .container_social_link{
        display: none;
    }
    .mini_social_link{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (max-width: 280px){
    .container_sense_rate_infos{
        display: flex;
        flex-direction: column;
    }
    .container_options_job_offer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 376px) and (min-width: 281px){
    .container_sense_rate_infos{
        display: flex;
        flex-direction: column;
    }
    .container_options_job_offer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
@media only screen and (max-width: 570px) and (min-width: 376px){
    .right_part{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .sense_rate_line{
        width: 70%;
    }
    .container_options_job_offer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 991px){
    .offer_recruiter_profil{
        width: 100% !important;
    }
}
@media only screen and (max-width: 1024px){
    .complementary_infos_container{
        width: 85%;
    }
}
@media only screen and (min-width: 1025px){
    .block_cv_pdf{
        display: block;
    }
    .about_user{
        text-align: left!important;
    }
    .recruiter_reason_to_be{
        text-align: left;
    }
}