.right_part{
    border-left: 2px solid #E9ECEF;
    margin-top: 20px;
}
.right_part *{
    font-family: 'KohinoorBangla', Arial, serif;
}
.left_part_profil *{
    font-family: 'KohinoorBangla', Arial, serif;
}
.entity_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #827399;
    min-height: 180px;
}
.entity_title div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_presentation{
    color: white;
}
.header_presentation *{
    font-family: 'KohinoorBangla', Arial, serif;
}
.container_engagements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
.social_link_mini{
    height: 20px;
    width: auto;
}
.btn_social{
    width: 50px;
}
.profil_category_title{
    color: #1DCA91;
    font-family: 'KohinoorBangla', Arial, serif;
}
.profil_category_title_bottom{
    color: #1DCA91;
    font-family: 'KohinoorBangla', Arial, serif;
}
.container_category_profil{
    padding: 35px;
}
.container_category_profil div *{
    text-align: left;
}
.container_category_profil div p{
    color: #555555;
}
.container_sense_rate{
    margin: 40px;
}
.container_commitment{
    padding: 10px;
    border: 1px solid #1dca9133;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.picture_sense_rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content_sense_rate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.info_sense_rate{
    text-align: left;
}
#sense_rate_minititle{
    font-weight: bold;
    color: #555555;
}
.list_causes{
    text-align: center;
    background-color: #F4F6F7;
}
.content_title{
    color: #1DCA91;
    text-align: left;
    padding-left: 20px;
}
.other_content_title{
    color: #1DCA91;
    font-weight: bold;
}
.complementary_infos_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    border: #E6E9E9;
}
.container_social_link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container_social_link a{
    margin-right: 15px;
    margin-left: 15px;
}
.alert-light-grey{
    background-color: #EEEEEE;
}
.container_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    border: #E6E9E9;
}
.alert-light-grey{
    background-color: #EEEEEE;
}
#contact_recruiter div label{
    color: #555555;
    font-family: 'KohinoorBangla', Arial, serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact_recruiter div input, textarea{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn_send_message{
    margin-top: 10px;
}

@media screen and (max-width: 992px) {
    .sense_rate_line{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .profil_category_title_bottom{
        padding-left: 30px;
    }
}