
<a class="nav-link mx-3 my-1" id="secondary-nav" href="{{ path('messaging') }}">
<img alt="logo_envelop" title="Read Message" class="messageImgPencil" src="{{ asset('img/boostrap/envelope.svg') }}"/>  {% if nonlu != 0 %}{{ nonlu }}{% endif%} </a>
