

    <a class="nav-link mx-3 my-1" id="secondary-nav" href="{{ path('messaging') }}">
    <img class="messageImgPencil" src="{{ asset('img/boostrap/envelope.svg') }}"/>  {% if nonlu != 0 %}{{ nonlu }}{% endif%} </a>
