{% extends 'base.html.twig' %}

{% block title %}Sowrs | Oups !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block body %}

    <div class="container_offer_not_found">
        <div class="offer_not_found">
            <p>
                Il semblerait que cette offre d'emploi n'existe pas &#128561 <br />
                Mais d'autres postes n'attendent que vous &#128540
            </p>
            <a href="{{ path('main_job_offers_list') }}" class="btn">Recherche des offres</a>
        </div>
    </div>
{% endblock %}