{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}
{% block title %}Sowrs | Mes offres{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row gx-0">
            <div class="col-lg-3 border-end border-2">
                {{ render(controller('App\\Controller\\DashBoardNavController::navBar'))}}
            </div>
            <div class="col-lg-9 gx-0">
                <div class="container mb-5 background-title">
                    <div class="row h-100">
                        <div class="col-sm-6 text-center align-self-center text-white">
                            <h3 class="title my_offers_title">Mes offres</h3>
                        </div>
                        <div class="col-sm-6 text-center align-self-center">
                            <a class="btn-title align-middle mini_btn_title_my_offers" href="{{ path('dash_board_job_offer_create') }}" role="button">Créer
                                une offre</a>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    {% for jobOffer in jobOffers %}
                        <div class="job_offer_row bg-white p-3 mb-3">
                            {% include '/dash_board/jobOffer/_cardJobOffer.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if offerCreated %}
                <div class="create_offer_modal">
                    <div class="modal_content">
                        <div class="container_close_modal">
                            <i class="far fa-2x fa-window-close"></i>
                        </div>
                        <h4>Soutenez SOWRS, le jobboard solidaire</h4>
                        <p>
                            SOWRS n’a pas d’autres ressources que vos participations.
                            Chaque utilisateur donne à hauteur de ses moyens pour que chacun puisse profiter de tous
                            les services sans distinction. Aidez-nous à atteindre notre objectif commun : travailler à rendre le monde meilleur !
                        </p>
                        <div class="container_options_modal">
                            <a target="_blank" class="btn btn_tipeee_modal" href="https://fr.tipeee.com/sowrs">Je participe</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener('load', function (){
            let btnDelete = document.querySelectorAll(".abstractJobOfferButtonTrash");
            console.log(btnDelete);
            btnDelete.forEach(element => function (element){
                element.addEventListener('click', function (event){
                    if(confirm("Voulez-vous vraiment supprimer l'offre ?")){

                    }else{
                        event.preventDefault();
                    }
                });
            });

        })
    </script>
{% endblock %}