{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# CF errorPage.css for stylesheet #}
{% endblock %}

{% block title %}
    Erreur 404 - Not found
{% endblock %}


{% block body %}
    <div class="error_container">
        <div class="error_cl">
            <img src="{{ asset('img/error404.png') }}" class="error_img" alt="error 404" title="La page n'est pas trouvée" />
            <p class="error_info">
                On a beau remuer ciel et terre,<br /> aucune trace de la page que vous cherchez &#128269
            </p>
            <a href="{{ path('main') }}" class="link_return_home btn">On repart en arrière ?</a>
        </div>
    </div>
{% endblock %}